.mblToolBarButtonHasArrow-styles {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("images/dark/back.png");
  background-position: 50% 50%;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
.dijitPopup {
  margin: 0;
  padding: 0;
  position: absolute;
  border: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  border-radius: 0;
  box-shadow: none;
}
.mblReset {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: normal;
  font: inherit;
  color: inherit;
}
.mblComboBoxMenu {
  position: relative;
  overflow-y: hidden !important;
  overflow: hidden;
  border: 1px solid black;
  border: none;
  border-radius: 0;
  background-color: #1f1f1f;
  color: #ffffff;
  width: 100% !important;
  height: calc(100% - 20px) !important;
}
.mblComboBoxMenuItem {
  padding: .1em .2em;
  border-width: 1px 0 1px 0;
  border-style: solid;
  text-align: left;
  border: none;
  color: inherit;
  font-size: 15pt;
  line-height: 1.4;
  padding-left: 15px;
  -ms-user-select: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mblComboBoxMenuItemSelected {
  color: Highlight;
}
.mblComboBoxMenuPreviousButton,
.mblComboBoxMenuNextButton {
  font-style: italic;
  overflow: hidden;
}
.mblComboBoxMenuPopup {
  background-color: #1f1f1f;
  color: #ffffff;
  width: 100%;
  height: calc(100% - 50px);
  padding: 50px 0 0 0;
  left: 0px !important;
  -ms-touch-action: none;
}
.mblComboBoxMenuPopup:before {
  content: 'CHOOSE AN ITEM';
  position: absolute;
  top: 20px;
  left: 15px;
  font-weight: 600;
}
.mblComboBoxMenu > div {
  width: 100%;
}
.mblComboBoxMenuItem:active {
  color: Highlight;
}
