.mblToolBarButtonHasArrow-styles {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("images/dark/back.png");
  background-position: 50% 50%;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
.dj_gecko .mblColorBlue {
  background-image: -moz-linear-gradient(top, #7a9de9 0%, #2362dd 100%);
}
.dj_gecko .mblColorBlue45 {
  background-image: -moz-linear-gradient(top left, #7a9de9 0%, #2362dd 100%);
}
.dj_gecko .mblColorDefault {
  background-image: none;
}
.dj_gecko .mblColorDefault45 {
  background-image: -moz-linear-gradient(top left, #e2e2e2 0%, #a4a4a4 100%);
}
.dj_gecko .mblColorDefaultSel {
  background-image: none;
}
.dj_gecko .mblColorDefaultSel45 {
  background-image: -moz-linear-gradient(top left, #bbbbbb 0%, #666666 100%);
}
