.mblToolBarButtonHasArrow-styles {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("images/dark/back.png");
  background-position: 50% 50%;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
.dj_ff3 .mblTextBox {
  -moz-border-radius: 0;
}
.mblToolBarButtonHasArrow-styles {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("images/dark/back.png");
  background-position: 50% 50%;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
.mblSearchBox {
  height: auto;
}
.mblFilteredRoundRectListSearchBox {
  width: 100%;
  padding-left: 9px;
  padding-right: 9px;
  -moz-box-sizing: border-box;
}
.mblFilteredRoundRectListSearchBox > input {
  width: 100%;
}
.mblFilteredEdgeToEdgeListSearchBox {
  width: 100%;
}
.mblFilteredEdgeToEdgeListSearchBox > input {
  width: 100%;
}
