.mblToolBarButtonHasArrow-styles {
  width: 27px;
  height: 27px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  padding: 0px;
  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-image: url("images/dark/back.png");
  background-position: 50% 50%;
  background-size: 27px 27px;
  background-repeat: no-repeat;
}
.mblTextBox {
  height: 22px;
  border-width: 1px;
  border-style: inset;
  font-family: Helvetica;
  font-size: 13px;
  display: block;
  background-color: #bfbfbf;
  border: 2px solid #ffffff;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 0;
  font-family: "Segoe WP", "Segoe UI", "HelveticaNeue", "Helvetica-Neue", "Helvetica", "BBAlpha Sans", "sans-serif";
  border-color: #bfbfbf;
  padding: 0 0 0 3px;
  font-size: 9pt;
  width: calc(100% - 10px);
  height: 2em;
}
.mblTextBox:active,
.mblTextBox:focus {
  border-color: Highlight;
  background-color: white;
  color: black;
}
.mblTextBox[disabled] {
  border-color: #808080;
  background-color: transparent;
  color: #808080;
}
.mblTextBox::-ms-clear {
  display: none;
}
