build/
build-*/
node_modules/
vcpkg_installed/
externals/
.project
.svn/
ln/
.cproject
.vscode/
.eclcc/
!esp/src/.vscode
eclcc.log
*.pyc
./helm/examples/azure/sa/env-sa
./dockerfiles/platform-build-incremental/hpcc.gitpatch
.env