<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%;" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
            <div id="${id}_Workunits" style="width: 100%; height: 100%" data-dojo-props='title:"${i18n.title_DFUQuery}"' data-dojo-type="dijit.layout.BorderContainer">
                <div id="${id}Toolbar" class="topPanel" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
                    <div id="${id}Refresh" data-dojo-attach-event="onClick:_onRefresh" data-dojo-props="iconClass:'iconRefresh'" data-dojo-type="dijit.form.Button">${i18n.Refresh}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Open" data-dojo-attach-event="onClick:_onOpen" data-dojo-type="dijit.form.Button">${i18n.Open}</div>
                    <div id="${id}Delete" data-dojo-attach-event="onClick:_onDelete" data-dojo-type="dijit.form.Button">${i18n.Delete}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}ImportDropDown" data-dojo-type="dijit.form.DropDownButton">
                        <span>${i18n.RemoteCopy}</span>
                        <div data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}ImportForm" style="width: 460px;" onsubmit="return false;" data-dojo-props="region: 'bottom'" data-dojo-type="dijit.form.Form">
                                <div data-dojo-type="dijit.Fieldset">
                                    <legend>${i18n.Source}</legend>
                                    <div data-dojo-type="hpcc.TableContainer">
                                        <input name="sourceDali" title="${i18n.Dali}:" style="width:100%" required="true" data-dojo-props="trim: true" data-dojo-type="dijit.form.ValidationTextBox" />
                                        <input name="srcusername" title="${i18n.UserID}:" style="width:100%" data-dojo-props="trim: true" data-dojo-type="dijit.form.ValidationTextBox" />
                                        <input name="srcpassword" title="${i18n.Password}:" style="width:100%" type="password" data-dojo-props="trim: true" data-dojo-type="dijit.form.ValidationTextBox" />
                                        <input name="sourceLogicalName" title="${i18n.LogicalName}:" style="width:100%" required="true" data-dojo-props="trim: true" data-dojo-type="dijit.form.ValidationTextBox" />
                                    </div>
                                </div>
                                <div data-dojo-type="dijit.Fieldset">
                                    <legend>${i18n.Target}</legend>
                                    <div data-dojo-type="hpcc.TableContainer">
                                        <input id="${id}ImportTargetSelect" title="${i18n.Group}:" name="destGroup" style="width:100%" data-dojo-type="TargetSelectWidget" />
                                        <input name="destLogicalName" title="${i18n.LogicalName}:" style="width:100%" required="true" data-dojo-props="trim: true" data-dojo-type="dijit.form.ValidationTextBox" />
                                    </div>
                                </div>
                                <div data-dojo-type="dijit.Fieldset">
                                    <legend>${i18n.Options}</legend>
                                    <div data-dojo-props="cols:2" data-dojo-type="hpcc.TableContainer">
                                        <input title="${i18n.Overwrite}:" name="overwrite" data-dojo-type="dijit.form.CheckBox" />
                                        <input title="${i18n.NoSplit}:" name="nosplit" data-dojo-type="dijit.form.CheckBox" />
                                        <input title="${i18n.Compress}:" name="compress" data-dojo-type="dijit.form.CheckBox" />
                                        <input title="${i18n.Wrap}:" name="Wrap" data-dojo-type="dijit.form.CheckBox" />
                                        <input id="${id}RemoteCopyReplicate" title="${i18n.Replicate}:" name="replicate" data-dojo-type="dijit.form.CheckBox" />
                                        <input title="${i18n.RetainSuperfileStructure}:" name="superCopy" data-dojo-type="dijit.form.CheckBox" />
                                    </div>
                                </div>
                                <div class="dijitDialogPaneActionBar">
                                    <button type="submit" data-dojo-attach-event="onClick:_onImportOk" data-dojo-type="dijit.form.Button">${i18n.Submit}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}CopyDropDown" data-dojo-type="dijit.form.DropDownButton">
                        <span>${i18n.Copy}</span>
                        <div data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}CopyForm" style="width: 650px;" onsubmit="return false;" data-dojo-props="region: 'bottom'" data-dojo-type="dijit.form.Form">
                                <div data-dojo-type="dijit.Fieldset">
                                    <legend>${i18n.Target}</legend>
                                    <div data-dojo-type="hpcc.TableContainer">
                                        <input id="${id}CopyTargetSelect" title="${i18n.Group}:" name="destGroup" style="width:100%;display: inline-block; vertical-align: middle" data-dojo-type="TargetSelectWidget" />
                                    </div>
                                    <div id="${id}CopyGrid" data-dojo-type="SelectionGridWidget">
                                    </div>
                                </div>
                                <div data-dojo-type="dijit.Fieldset">
                                    <legend>${i18n.Options}</legend>
                                    <div data-dojo-props="cols:2" data-dojo-type="hpcc.TableContainer">
                                        <input id="${id}CopyTargetOverwrite" title="${i18n.Overwrite}:" name="overwrite" data-dojo-type="dijit.form.CheckBox" />
                                        <input id="${id}CopyTargetNoSplit" title="${i18n.NoSplit}:" name="nosplit" data-dojo-type="dijit.form.CheckBox" />
                                        <input id="${id}CopyTargetCompress" title="${i18n.Compress}:" name="compress" data-dojo-type="dijit.form.CheckBox" />
                                        <input id="${id}CopyTargetWrap" title="${i18n.Wrap}:" name="Wrap" data-dojo-type="dijit.form.CheckBox" />
                                        <input id="${id}CopyTargetRetainSuperfileStructure" title="${i18n.RetainSuperfileStructure}:" name="superCopy" data-dojo-type="dijit.form.CheckBox" />
                                        <input id="${id}CopyPreserveCompression" title="${i18n.PreserveCompression}:" checked="true" name="preserveCompression" data-dojo-type="dijit.form.CheckBox" />
                                        <input id="${id}CopyTargetReplicate" title="${i18n.Replicate}:" name="replicate" data-dojo-type="dijit.form.CheckBox" />
                                        <input id="${id}CopyExpireDays" title="${i18n.ExpireDays}:" name="ExpireDays" data-dojo-type="dijit.form.NumberTextBox" />
                                        <input id="${i18n.NoCommon}" title="${i18n.NoCommon}:" checked="true" name="noCommon" data-dojo-type="dijit.form.CheckBox"/>
                                    </div>
                                </div>
                                <div class="dijitDialogPaneActionBar">
                                    <button type="submit" data-dojo-attach-event="onClick:_onCopyOk" data-dojo-type="dijit.form.Button">${i18n.Copy}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="${id}RenameDropDown" data-dojo-type="dijit.form.DropDownButton">
                        <span>${i18n.Rename}</span>
                        <div data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}RenameForm" style="width: 460px;" onsubmit="return false;" data-dojo-type="dijit.form.Form">
                                <div data-dojo-type="dijit.Fieldset">
                                    <legend>${i18n.Target}</legend>
                                    <div id="${id}RenameGrid" data-dojo-type="SelectionGridWidget">
                                    </div>
                                </div>
                                <div data-dojo-type="dijit.Fieldset">
                                    <legend>${i18n.Options}</legend>
                                    <div data-dojo-props="cols:1" data-dojo-type="hpcc.TableContainer">
                                        <input id="${id}RenameTargetOverwrite" title="${i18n.Overwrite}:" name="overwrite" data-dojo-type="dijit.form.CheckBox" />
                                    </div>
                                </div>
                                <div class="dijitDialogPaneActionBar">
                                    <button type="submit" data-dojo-attach-event="onClick:_onRenameOk" data-dojo-type="dijit.form.Button">${i18n.Rename}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="${id}AddtoDropDown" data-dojo-type="dijit.form.DropDownButton">
                        <span>${i18n.AddToSuperfile}</span>
                        <div data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}AddToSuperfileForm" style="width:680px" onsubmit="return false;" data-dojo-type="dijit.form.Form">
                                <div data-dojo-type="dijit.Fieldset">
                                    <legend>${i18n.Target}</legend>
                                    <div class="dijitDialogPaneContentArea" data-dojo-props="cols:2" data-dojo-type="hpcc.TableContainer">
                                        <input id="${id}CreateNewSuperRadio" title="${i18n.CreateANewFile}" checked="true" data-dojo-type="dijit.form.RadioButton" />
                                        <input id="${id}AddToSuperfileTargetName" style="width:100%;" name="Superfile" required="true" data-dojo-props="trim: true" data-dojo-type="dijit.form.ValidationTextBox" />
                                        <input id="${id}AddToSuperfileTargetAppend" name="ExistingFile" title="${i18n.AddToExistingSuperfile}" data-dojo-type="dijit.form.RadioButton" />
                                    </div>
                                    <div id="${id}AddToSuperfileGrid" data-dojo-type="SelectionGridWidget"></div>
                                </div>
                                <div class="dijitDialogPaneActionBar">
                                    <button type="submit" data-dojo-attach-event="onClick:_onAddToSuperfileOk" data-dojo-type="dijit.form.Button">${i18n.Add}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="${id}DesprayDropDown" data-dojo-type="dijit.form.DropDownButton">
                        <span>${i18n.Despray}</span>
                        <div id="${id}DesprayTooltipDialog" data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}DesprayForm" style="width: 460px;" onsubmit="return false;" data-dojo-type="dijit.form.Form">
                                <div data-dojo-type="dijit.Fieldset">
                                    <legend>${i18n.Target}</legend>
                                    <div data-dojo-type="hpcc.TableContainer">
                                        <input id="${id}DesprayTargetSelect" title="${i18n.DropZone}:" name="destGroup" style="width: 100%;" data-dojo-type="TargetSelectWidget" />
                                        <input id="${id}DesprayTargetIPAddress" title="${i18n.IPAddress}:" name="destIP" style="width: 100%;" required="true" data-dojo-props="trim: true" data-dojo-type="TargetSelectWidget" />
                                        <input id="${id}DesprayTargetPath" title="${i18n.Path}:" name="destPath" required="false" style="width: 100%;" data-dojo-props="trim: true, readonly: false" data-dojo-type="TargetComboBoxWidget" />
                                        <input id="${id}DesprayTargetSplitPrefix" title="${i18n.SplitPrefix}:" name="splitprefix" style="width: 100%;" data-dojo-props="trim: true" data-dojo-type="dijit.form.ValidationTextBox" />
                                    </div>
                                    <div id="${id}DesprayGrid" data-dojo-type="SelectionGridWidget">
                                    </div>
                                </div>
                                <div data-dojo-type="dijit.Fieldset">
                                    <legend>${i18n.Options}</legend>
                                    <div data-dojo-props="cols:2" data-dojo-type="hpcc.TableContainer">
                                        <input id="${id}DesprayTargetOverwrite" title="${i18n.Overwrite}:" name="overwrite" data-dojo-type="dijit.form.CheckBox" />
                                        <input id="${id}DesprayTargetUseSingleConnection" title="${i18n.UseSingleConnection}:" name="SingleConnection" data-dojo-type="dijit.form.CheckBox" />
                                        <input id="${id}DesprayTargetPreserveParts" title="${i18n.PreserveParts}:" name="wrap" data-dojo-type="dijit.form.CheckBox" />
                                    </div>
                                </div>
                                <div class="dijitDialogPaneActionBar">
                                    <button type="submit" data-dojo-attach-event="onClick:_onDesprayOk" data-dojo-type="dijit.form.Button">${i18n.Despray}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Filter" data-dojo-type="FilterDropDownWidget">
                        <input id="${id}Name" title="${i18n.Name}:" name="LogicalName" colspan="2" style="width:100%;" data-dojo-props="trim: true, placeHolder:'${i18n.somefile}'" data-dojo-type="dijit.form.TextBox" />
                        <input id="${id}Description" title="${i18n.Description}:" name="Description" colspan="2" style="width:100%;" data-dojo-props="trim: true, placeHolder:'${i18n.SomeDescription}'" data-dojo-type="dijit.form.TextBox" />
                        <input id="${id}Owner" title="${i18n.Owner}:" name="Owner" colspan="2" data-dojo-props="trim: true, placeHolder:'${i18n.JSmith}'" data-dojo-type="dijit.form.TextBox" />
                        <input id="${id}Index" title="${i18n.Index}:" value="key" name="ContentType" colspan="2" data-dojo-props="trim: true" data-dojo-type="dijit.form.CheckBox" />
                        <input id="${id}ClusterTargetSelect" title="${i18n.Cluster}:" name="NodeGroup" colspan="2" style="display: inline-block; vertical-align: middle" data-dojo-type="TargetSelectWidget" />
                        <input id="${id}FromSize" title="${i18n.FromSizes}:" name="FileSizeFrom" colspan="2" data-dojo-props="trim: true, placeHolder:'4096'" data-dojo-type="dijit.form.TextBox" />
                        <input id="${id}ToSize" title="${i18n.ToSizes}:" name="FileSizeTo" colspan="2" data-dojo-props="trim: true, placeHolder:'16777216'" data-dojo-type="dijit.form.TextBox" />
                        <select id="${id}FileType" title="${i18n.FileType}:" name="FileType" colspan="2" data-dojo-type="dijit.form.Select">
                            <option value="" selected="selected">${i18n.LogicalFilesAndSuperfiles}</option>
                            <option value="Logical Files Only">${i18n.LogicalFilesOnly}</option>
                            <option value="Superfiles Only">${i18n.SuperfilesOnly}</option>
                            <option value="Not in Superfiles">${i18n.NotInSuperfiles}</option>
                        </select>
                        <input id="${id}FirstN" title="${i18n.FirstN}:" name="FirstN" colspan="2" style="width:15%" data-dojo-props="trim: true, placeHolder:'-1'" data-dojo-type="dijit.form.TextBox" />
                        <select id="${id}Sortby" title="" name="Sortby" colspan="2" data-dojo-type="dijit.form.Select">
                            <option value="" selected="Selected"></option>
                            <option value="Newest">${i18n.Newest}</option>
                            <option value="Oldest">${i18n.Oldest}</option>
                            <option value="Smallest">${i18n.Smallest}</option>
                            <option value="Largest">${i18n.Largest}</option>
                        </select>
                        <input id="${id}FromDate" title="${i18n.FromDate}:" name="StartDate" data-dojo-props="trim: true, placeHolder:'7/28/2013'" data-dojo-type="dijit.form.DateTextBox" />
                        <input id="${id}FromTime" title="" name="FromTime" data-dojo-props="trim: true, placeHolder:'7:30 AM'" data-dojo-type="dijit.form.TimeTextBox" />
                        <input id="${id}ToDate" title="${i18n.ToDate}:" name="EndDate" data-dojo-props="trim: true, placeHolder:'7/28/2013'" data-dojo-type="dijit.form.DateTextBox" />
                        <input id="${id}ToTime" title="" name="ToTime" data-dojo-props="trim: true, placeHolder:'7:30 PM'" data-dojo-type="dijit.form.TimeTextBox" />
                    </div>
                    <div id="${id}Tree" data-dojo-attach-event="onClick:_onTree" data-dojo-props="iconClass:'iconFolderTree', showLabel:false" data-dojo-type="dijit.form.ToggleButton">${i18n.ViewByScope}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <img src="${dojoConfig.urlInfo.resourcePath}/img/person.png" style="vertical-align: middle" alt="${i18n.Mine}">
                    <label for="Mine" class="bold" style="vertical-align: middle;">${i18n.Mine}</label>
                    <input id="${id}Mine" name="Owner" title="${i18n.Mine}" data-dojo-attach-event="onChange:_onMine" data-dojo-type="dijit.form.CheckBox" />
                    <div class="right" data-dojo-attach-event="onChange:_onMaximize" data-dojo-props="iconClass:'iconMaximize', showLabel:false" checked=false data-dojo-type="dijit.form.ToggleButton">${i18n.MaximizeRestore}</div>
                    <div id="${id}NewPage" class="right" data-dojo-attach-event="onClick:_onNewPage" data-dojo-props="iconClass:'iconNewPage', showLabel:false" data-dojo-type="dijit.form.Button">${i18n.OpenInNewPage}</div>
                    <div id="${id}DownloadToList" class="right" data-dojo-attach-event="onClick:_onDownloadToList" data-dojo-type="dijit.form.Button">
                        <span>${i18n.DownloadToCSV}</span>
                    </div>
                </div>
                <div id="${id}WorkunitsGridCP" style="border:0px; padding: 0px; border-color:none" data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                    <div id="${id}WorkunitsGrid">
                    </div>
                </div>
                <div id="${id}DownloadToListDialog" data-dojo-type="dijit.Dialog" title="${i18n.ExportSelectionsToList}">
                    <div data-dojo-props="cols:2" data-dojo-type="hpcc.TableContainer">
                        <input id="${id}FileName" title="${i18n.FileName}:" name="FileName" colspan="2" data-dojo-props="trim: true" data-dojo-type="dijit.form.TextBox" />
                    </div>
                    <div class="dijitDialogPaneActionBar">
                        <button id="${id}onDownloadSubmit" data-dojo-attach-event="onClick:_buildCSV" class="bottomFormButtons" data-dojo-type="dijit.form.Button">${i18n.Submit}</button>
                        <button class="bottomFormButtons" data-dojo-attach-event="onClick:_onDownloadToListCancelDialog" data-dojo-type="dijit.form.Button">${i18n.Cancel}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
