<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%;" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
            <div id="${id}_Summary" style="width: 100%; height: 100%" data-dojo-props="title:'${i18n.XML}'" data-dojo-type="dijit.layout.BorderContainer">
                <div id="${id}_XML" data-dojo-props="region: 'center'" data-dojo-type="ECLSourceWidget"></div>
            </div>
        </div>
    </div>
</div>
