<div class="${baseClass}">
    <div id="${id}BorderContainer" class="hpccMainpage" data-dojo-props="gutters:false, liveSplitters:false" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}Titlebar" class="hpccTitlebar" data-dojo-props="region: 'top'" data-dojo-type="dijit.layout.ContentPane">
            <div id="${id}StackController" class="left glow" data-dojo-props="containerId:'${id}TabContainer'" data-dojo-type="dijit.layout.StackController"></div>
            <div id="${id}searchUserMoreComponents" class="searchUserMoreComponents">
                <div id="${id}plugin_32-32" class="left" style="margin-top:9px;width:32px;height:32px;overflow:hidden"></div>
                <div id="MonitorStatus" class="None" data-dojo-attach-event="onClick:_onMonitoring"></div>
                <div class="seperator grey"></div>
                <form id="search-form" onsubmit="return false;">
                    <input id="${id}FindText" class="roundForm" data-dojo-props="placeHolder: '${i18n.PlaceholderFindText}', trim: true" data-dojo-type="dijit.form.TextBox" />
                    <button id="${id}Find" type="submit" data-dojo-props="iconClass:'iconFind', showLabel: false" data-dojo-attach-event="onClick:_onFind" data-dojo-type="dijit.form.Button">${i18n.Find}</button>
                </form>
                <div class="seperator grey"></div>
                <div id="userAccount">
                    <span class="navBarLoggedin">${i18n.LoggedInAs}: </span>
                    <a id="${id}UserID" href="#" data-dojo-attach-event="onClick:_onUserID"></a>
                    <span id="UserDivider"></span>
                    <a id="Lock" href="#" data-dojo-attach-event="onClick:_onLock"></a>
                </div>
                <div class="seperator grey"></div>
                <div id="${id}More" class="left glow" data-dojo-props="iconClass:'iconAdvanced', showLabel:false" data-dojo-type="dijit.form.DropDownButton">
                    <span>${i18n.Advanced}</span>
                    <div data-dojo-type="dijit.DropDownMenu">
                        <div id="${id}ErrWarn" data-dojo-attach-event="onClick:_onOpenErrWarn" data-dojo-type="dijit.MenuItem">${i18n.ErrorWarnings}</div>
                        <span data-dojo-type="dijit.MenuSeparator"></span>
                        <div id="${id}SetBanner" data-dojo-attach-event="onClick:_onSetBanner" data-dojo-type="dijit.MenuItem">${i18n.SetBanner}</div>
                        <div id="${id}SetToolbar" data-dojo-attach-event="onClick:_onSetToolbar" data-dojo-type="dijit.MenuItem">${i18n.SetToolbar}</div>
                        <span data-dojo-type="dijit.MenuSeparator"></span>
                        <div data-dojo-attach-event="onClick:_onOpenReleaseNotes" data-dojo-type="dijit.MenuItem">${i18n.ReleaseNotes}</div>
                        <div data-dojo-attach-event="onClick:_onOpenDocuments" data-dojo-type="dijit.MenuItem">${i18n.Documentation}</div>
                        <div data-dojo-attach-event="onClick:_onOpenResources" data-dojo-type="dijit.MenuItem">${i18n.Downloads}</div>
                        <div data-dojo-type="dijit.PopupMenuItem">
                            <span>${i18n.AdditionalResources}</span>
                            <div data-dojo-type="dijit.Menu">
                                <div data-dojo-attach-event="onClick:_onOpenRedBook" data-dojo-type="dijit.MenuItem">${i18n.RedBook}</div>
                                <div data-dojo-attach-event="onClick:_onOpenForums" data-dojo-type="dijit.MenuItem">${i18n.Forums}</div>
                                <div data-dojo-attach-event="onClick:_onOpenJira" data-dojo-type="dijit.MenuItem">${i18n.IssueReporting}</div>
                                <div data-dojo-attach-event="onClick:_onOpenTransitionGuide" data-dojo-type="dijit.MenuItem">${i18n.TransitionGuide}</div>
                            </div>
                        </div>
                        <span data-dojo-type="dijit.MenuSeparator"></span>
                        <div id="${id}Lock" data-dojo-attach-event="onClick:_onLock" data-dojo-type="dijit.MenuItem" data-dojo-props="disabled:'false'">Lock</div>
                        <div id="${id}Logout" data-dojo-attach-event="onClick:_onLogout" data-dojo-type="dijit.MenuItem" data-dojo-props="disabled:'true'">Logout</div>
                        <span data-dojo-type="dijit.MenuSeparator"></span>
                        <div id="${id}Configuration" data-dojo-attach-event="onClick:_onOpenConfiguration" data-dojo-type="dijit.MenuItem">${i18n.Configuration}</div>
                        <div id="${id}About" data-dojo-attach-event="onClick:_onAbout" data-dojo-type="dijit.MenuItem">${i18n.About}</div>
                        <div data-dojo-props="hidden:true" data-dojo-type="dijit.PopupMenuItem">
                            <span>${i18n.Debug}</span>
                            <div data-dojo-type="dijit.Menu">
                                <div data-dojo-attach-event="onClick:_ondebugLanguageFiles" data-dojo-type="dijit.MenuItem">${i18n.LanguageFiles}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="${id}TabContainer" style="width: 100%; height: 100%" data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.StackContainer">
            <div id="${id}_Main" data-dojo-props="iconClass: 'iconLogo', delayWidget: 'HPCCPlatformMainWidget'" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_ECL" data-dojo-props="iconClass: 'iconWu', showLabel: false, delayWidget: 'HPCCPlatformECLWidget'" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_Files" data-dojo-props="iconClass: 'iconLandingZone', showLabel: false, delayWidget: 'HPCCPlatformFilesWidget'" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_RoxieQueries" data-dojo-props="iconClass: 'iconTargets', showLabel: false, delayWidget: 'HPCCPlatformRoxieWidget'" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_OPS" data-dojo-props="iconClass: 'iconOperations', showLabel: false, delayWidget: 'HPCCPlatformOpsWidget'" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_Plugins" data-dojo-props="iconClass: 'iconPlugins', showLabel: false, delayWidget: 'HPCCPlatformServicesPluginWidget'" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_ErrWarn" data-dojo-props="showLabel: false" data-dojo-type="dijit.layout.TabContainer">
                <div id="${id}ErrWarnGrid" data-dojo-props="title: 'Error/Warning(s)', errWarn: true, showToolbar: true" data-dojo-type="InfoGridWidget">
                </div>
            </div>
            <div id="${id}_Config" data-dojo-props="showLabel: false" data-dojo-type="dijit.layout.TabContainer">
                <textarea id="${id}ConfigTextArea">...${i18n.Loading}...</textarea>
            </div>
        </div>
    </div>
    <div id="${id}AboutDialog">
    </div>
    <div id="${id}LogoutConfirm" title="${i18n.LoggingOut}" style="width: 480px;" data-dojo-type="dijit.ConfirmDialog">
        <div class="dijitDialogPaneContentArea">
            <p>${i18n.AboutToLoseSessionInformation}</p>
        </div>
    </div>
    <div style="padding-bottom:10px;"></div>
    <div id="${id}SetBannerDialog" title="Set Banner" style="width: 580px;" data-dojo-type="dijit.Dialog">
        <div class="dijitDialogPaneContentArea">
            <div id="${id}SetBannerForm" onsubmit="return false;" data-dojo-type="dijit.form.Form">
                <div data-dojo-type="hpcc.TableContainer">
                    <input id="${id}ShowBanner" title="${i18n.Enable}:" name="BannerAction" data-dojo-type="dijit.form.CheckBox" />
                    <input id="${id}BannerContent" title="${i18n.BannerMessage}:" name="BannerContent" style="width:100%;" data-dojo-props="trim: true" data-dojo-type="dijit.form.Textarea" />
                    <input id="${id}BannerColor" title="${i18n.BannerColor}:" name="BannerColor" style="width:100%;" value="red" data-dojo-props="trim: true" data-dojo-type="HPCCColorPicker" />
                    <input id="${id}BannerSize" title="${i18n.BannerSize}:" name="BannerSize" style="width:100%;" value="4" data-dojo-props="trim: true" data-dojo-type="dijit.form.Textarea" />
                    <input id="${id}BannerScroll" title="${i18n.BannerScroll}:" name="BannerScroll" style="width:100%;" value="2" data-dojo-props="trim: true" data-dojo-type="dijit.form.Textarea" />
                </div>
            </div>
        </div>
        <div class="dijitDialogPaneActionBar">
            <button type="submit" data-dojo-attach-event="onClick:_onSetBannerOk" data-dojo-type="dijit.form.Button">${i18n.OK}</button>
            <button data-dojo-attach-event="onClick:_onSetBannerCancel" data-dojo-type="dijit.form.Button">${i18n.Cancel}</button>
        </div>
    </div>
    <div style="padding-bottom:10px;"></div>
    <div id="${id}SetToolbarDialog" title="Set Toolbar Color" style="width: 580px;" data-dojo-type="dijit.Dialog">
        <div class="dijitDialogPaneContentArea">
            <div id="${id}SetToolbarForm" onsubmit="return false;" data-dojo-type="dijit.form.Form">
                <div data-dojo-type="hpcc.TableContainer">
                    <input id="${id}EnvironmentTextCB" title="${i18n.EnableBannerText}" data-dojo-type="dijit.form.CheckBox" />
                    <input id="${id}EnvironmentText" title="${i18n.NameOfEnvironment}" data-dojo-props="placeHolder: '${i18n.NameOfEnvironment}', trim: true" data-dojo-type="dijit.form.TextBox" />
                    <input id="${id}ToolbarColor" title="${i18n.BannerColor}:" style="width:100%;" value="red" data-dojo-props="trim: true" data-dojo-type="HPCCColorPicker" />
                </div>
            </div>
        </div>
        <div class="dijitDialogPaneActionBar">
            <button type="submit" data-dojo-attach-event="onClick:_onSetToolbarOk" data-dojo-type="dijit.form.Button">${i18n.OK}</button>
            <button data-dojo-attach-event="onClick:_onSetToolbarCancel" data-dojo-type="dijit.form.Button">${i18n.Cancel}</button>
            <button class="resetBtn" data-dojo-attach-event="onClick:_onSetToolbarReset" data-dojo-type="dijit.form.Button">${i18n.Reset}</button>
        </div>
    </div>
    <div id="${id}UserDialog" title="${i18n.UserDetails}" data-dojo-type="dijit.Dialog">
        <div id="${id}UserInfo" style="padding:0px; width:640px; height:480px" data-dojo-props="delayWidget: 'CurrentUserDetailsWidget'" data-dojo-type="DelayLoadWidget">
        </div>
    </div>
</div>