<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
            <div id="${id}_Summary" style="width: 100%; height: 100%" data-dojo-props='title:"${i18n.Summary}", iconClass:"iconLogicalFile"' data-dojo-type="dijit.layout.BorderContainer">
                <div id="${id}Toolbar" class="topPanel" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
                    <div id="${id}Refresh" data-dojo-attach-event="onClick:_onRefresh" data-dojo-props="iconClass:'iconRefresh'" data-dojo-type="dijit.form.Button">${i18n.Refresh}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Save" data-dojo-attach-event="onClick:_onSave" data-dojo-type="dijit.form.Button">${i18n.Save}</div>
                    <div id="${id}Delete" data-dojo-attach-event="onClick:_onDelete" data-dojo-type="dijit.form.Button">${i18n.Delete}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}CopyDropDown" data-dojo-type="dijit.form.DropDownButton">
                        <span>${i18n.Copy}</span>
                        <div data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}CopyForm" style="width: 460px;" onsubmit="return false;" data-dojo-type="dijit.form.Form">
                                <div data-dojo-type="dijit.Fieldset">
                                    <legend>${i18n.Target}</legend>
                                    <div data-dojo-props="cols:2" data-dojo-type="hpcc.TableContainer">
                                        <input id="${id}CopyTargetSelect" title="${i18n.Group}:" name="destGroup" colspan="2" style="width:100%;" data-dojo-type="TargetSelectWidget" style="display: inline-block; vertical-align: middle" />
                                        <input id="${id}CopyTargetName" title="${i18n.TargetName}:" name="destLogicalName" colspan="2" style="width:100%;" required="true" data-dojo-props="trim: true" data-dojo-type="dijit.form.ValidationTextBox" />
                                    </div>
                                </div>
                                <div data-dojo-type="dijit.Fieldset">
                                    <legend>${i18n.Options}</legend>
                                    <div data-dojo-props="cols:2" data-dojo-type="hpcc.TableContainer">
                                        <input id="${id}CopyTargetOverwrite" title="${i18n.Overwrite}:" name="overwrite" data-dojo-type="dijit.form.CheckBox" />
                                        <input id="${id}CopyTargetReplicate" title="${i18n.Replicate}:" name="replicate" data-dojo-type="dijit.form.CheckBox" />
                                        <input id="${id}CopyTargetNoSplit" title="${i18n.NoSplit}:" name="nosplit" data-dojo-type="dijit.form.CheckBox" />
                                        <input id="${id}CopyTargetCompress" title="${i18n.Compress}:" name="compress" data-dojo-type="dijit.form.CheckBox" />
                                        <input id="${id}CopyTargetWrap" title="${i18n.Wrap}:" name="Wrap" data-dojo-type="dijit.form.CheckBox" />
                                        <input id="${id}CopyTargetRetainSuperfileStructure" title="${i18n.RetainSuperfileStructure}:" name="superCopy" data-dojo-type="dijit.form.CheckBox" />
                                    </div>
                                </div>
                                <div class="dijitDialogPaneActionBar">
                                    <button type="submit" data-dojo-attach-event="onClick:_onCopyOk" data-dojo-type="dijit.form.Button">${i18n.Copy}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="${id}RenameDropDown" data-dojo-type="dijit.form.DropDownButton">
                        <span>${i18n.Rename}</span>
                        <div data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}RenameForm" style="width: 460px;" onsubmit="return false;" data-dojo-type="dijit.form.Form">
                                <div data-dojo-type="dijit.Fieldset">
                                    <legend>${i18n.Target}</legend>
                                    <div data-dojo-props="cols:2" data-dojo-type="hpcc.TableContainer">
                                        <input id="${id}RenameTargetName" title="${i18n.TargetName}:" style="width: 100%;" name="dstname" colspan="2" required="true" data-dojo-props="trim: true" data-dojo-type="dijit.form.ValidationTextBox" />
                                    </div>
                                </div>
                                <div data-dojo-type="dijit.Fieldset">
                                    <legend>${i18n.Options}</legend>
                                    <div data-dojo-props="cols:2" data-dojo-type="hpcc.TableContainer">
                                        <input id="${id}RenameTargetOverwrite" title="${i18n.Overwrite}:" name="overwrite" data-dojo-type="dijit.form.CheckBox" />
                                    </div>
                                </div>
                                <div class="dijitDialogPaneActionBar">
                                    <button type="submit" data-dojo-attach-event="onClick:_onRenameOk" data-dojo-type="dijit.form.Button">${i18n.Rename}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="${id}DesprayDropDown" data-dojo-type="dijit.form.DropDownButton">
                        <span>${i18n.Despray}</span>
                        <div id="${id}DesprayTooltipDialog" data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}DesprayForm" style="width: 460px;" onsubmit="return false;" data-dojo-type="dijit.form.Form">
                                <div data-dojo-type="dijit.Fieldset">
                                    <legend>${i18n.Target}</legend>
                                    <div data-dojo-props="cols:2" data-dojo-type="hpcc.TableContainer">
                                        <input id="${id}DesprayTargetSelect" title="${i18n.DropZone}:" name="destGroup" colspan="2" style="width: 100%;" data-dojo-type="TargetSelectWidget" />
                                        <input id="${id}DesprayTargetIPAddress" title="${i18n.IPAddress}:" name="destIP" colspan="2" required="true" style="width: 100%;" data-dojo-props="trim: true" data-dojo-type="dijit.form.ValidationTextBox" />
                                        <input id="${id}DesprayTargetPath" title="${i18n.Path}:" name="destPath" colspan="2" required="true" style="width: 100%;" data-dojo-props="trim: true" data-dojo-type="TargetComboBoxWidget" />
                                        <input id="${id}DesprayTargetName" title="${i18n.TargetName}:" colspan="2" required="true" style="width: 100%;" data-dojo-props="trim: true" data-dojo-type="dijit.form.ValidationTextBox" />
                                        <input id="${id}DesprayTargetSplitPrefix" title="${i18n.SplitPrefix}:" name="splitprefix" colspan="2" style="width: 100%;" data-dojo-props="trim: true" data-dojo-type="dijit.form.TextBox" />
                                    </div>
                                </div>
                                <div data-dojo-type="dijit.Fieldset">
                                    <legend>${i18n.Options}</legend>
                                    <div data-dojo-props="cols:2" data-dojo-type="hpcc.TableContainer">
                                        <input id="${id}DesprayTargetOverwrite" title="${i18n.Overwrite}:" name="overwrite" data-dojo-type="dijit.form.CheckBox" />
                                        <input id="${id}DesprayTargetUseSingleConnection" title="${i18n.UseSingleConnection}:" name="SingleConnection" data-dojo-type="dijit.form.CheckBox" />
                                    </div>
                                </div>
                                <div class="dijitDialogPaneActionBar">
                                    <button type="submit" data-dojo-attach-event="onClick:_onDesprayOk" data-dojo-type="dijit.form.Button">${i18n.Despray}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}NewPage" class="right" data-dojo-attach-event="onClick:_onNewPage" data-dojo-props="iconClass:'iconNewPage', showLabel:false" data-dojo-type="dijit.form.Button">${i18n.OpenInNewPage}</div>
                </div>
                <div data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                    <h2>
                        <img id="${id}StateIdImage" class="iconLogicalFile" />&nbsp;<span id="${id}Name" class="bold"></span>
                    </h2>
                    <form id="${id}SummaryForm" class="leftAlignFields">
                        <ul>
                            <li>
                                <label for="${id}Wuid">${i18n.Workunit}: </label>
                                <div id="${id}Wuid"></div>
                            </li>
                            <li>
                                <label for="${id}Owner">${i18n.Owner}: </label>
                                <div id="${id}Owner"></div>
                            </li>
                            <li>
                                <label for="${id}NodeGroup">${i18n.ClusterName}: </label>
                                <div id="${id}NodeGroup"></div>
                            </li>
                            <li>
                                <label for="${id}Description">${i18n.Description}: </label>
                                <input id="${id}Description" data-dojo-props="trim:true" data-dojo-type="dijit.form.SimpleTextarea" cols="55" rows="4" />
                            </li>
                            <li>
                                <label for="${id}JobName">${i18n.JobName}: </label>
                                <div id="${id}JobName"></div>
                            </li>
                            <li>
                                <label for="${id}Filesize">${i18n.ContentType}: </label>
                                <div id="${id}ContentType"></div>
                            </li>
                            <li>
                                <label for="${id}Filesize">${i18n.FileSize}: </label>
                                <div id="${id}Filesize"></div>
                            </li>
                            <li>
                                <label for="${id}ActualSize">${i18n.ActualSize}: </label>
                                <div id="${id}ActualSize"></div>
                            </li>
                            <li>
                                <label for="${id}CompressedFileSize">${i18n.CompressedFileSize}: </label>
                                <div id="${id}CompressedFileSize"></div>
                            </li>
                            <li>
                                <label for="${id}Modified">${i18n.Modified}: </label>
                                <div id="${id}Modified"></div>
                            </li>
                            <li>
                                <label for="${id}Directory">${i18n.Directory}: </label>
                                <div id="${id}Directory"></div>
                            </li>
                            <li>
                                <label for="${id}PathMask">${i18n.PathMask}: </label>
                                <div id="${id}PathMask"></div>
                            </li>
                            <li>
                                <label for="${id}RecordSize">${i18n.RecordSize}: </label>
                                <div id="${id}RecordSize"></div>
                            </li>
                            <li>
                                <label for="${id}RecordCount">${i18n.RecordCount}: </label>
                                <div id="${id}RecordCount"></div>
                            </li>
                            <li>
                                <label for="${id}DFUFilePartsOnClusters">${i18n.IsReplicated}: </label>
                                <div id="${id}DFUFilePartsOnClusters"></div>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <div id="${id}_Content" title="${i18n.Contents}" data-dojo-props="delayWidget: 'ResultWidget'" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_Source" title="${i18n.ECL}" data-dojo-props="delayWidget: 'ECLSourceWidget', disabled: true" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_DEF" title="${i18n.DEF}" data-dojo-props="delayWidget: 'ECLSourceWidget', disabled: true" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_XML" title="${i18n.XML}" data-dojo-props="delayProps: {WUXml: true}, delayWidget: 'ECLSourceWidget', disabled: true" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_FileBelongs" title="${i18n.Superfiles}" data-dojo-props="delayWidget: 'FileBelongsToWidget', disabled: true" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_FileParts" title="${i18n.FileParts}" data-dojo-props="delayWidget: 'FilePartsWidget'" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_Queries" title="${i18n.Queries}" data-dojo-props="delayWidget: 'QuerySetQueryWidget', iconClass:'iconFind'" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_Graphs" title="${i18n.Graphs}" data-dojo-props="delayWidget: 'GraphsWidget', disabled: true" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_Workunit" title="${i18n.Workunit}" data-dojo-props="delayWidget: 'WUDetailsWidget'" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_DFUWorkunit" title="${i18n.Workunit}" data-dojo-props="delayWidget: 'DFUWUDetailsWidget'" data-dojo-type="DelayLoadWidget">
            </div>
        </div>
    </div>
</div>
