<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%;" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
            <div id="${id}_Summary" style="width: 100%; height: 100%" data-dojo-props='title:"${i18n.Summary}", iconClass:"iconWorkunit"' data-dojo-type="dijit.layout.BorderContainer">
                <div id="${id}Toolbar" class="topPanel" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
                    <div id="${id}Activate" data-dojo-attach-event="onClick:_onActivate" data-dojo-type="dijit.form.Button">${i18n.Activate}</div>
                    <div id="${id}Deactivate" data-dojo-attach-event="onClick:_onDeactivate" data-dojo-type="dijit.form.Button">${i18n.Deactivate}</div>
                    <div id="${id}Delete" data-dojo-attach-event="onClick:_onDelete" data-dojo-type="dijit.form.Button">${i18n.Delete}</div>
                    <div class="right" data-dojo-attach-event="onChange:_onMaximize" data-dojo-props="iconClass:'iconMaximize', showLabel:false" checked=false data-dojo-type="dijit.form.ToggleButton">${i18n.MaximizeRestore}</div>
                    <div id="${id}NewPage" class="right" data-dojo-attach-event="onClick:_onNewPage" data-dojo-props="iconClass:'iconNewPage', showLabel:false" data-dojo-type="dijit.form.Button">${i18n.OpenInNewPage}</div>
                </div>
                <div data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                    <h2>
                        <div id="${id}StateIdImage" title="" class="iconWorkunit"></div>&nbsp<span id="${id}PMID" class="bold">PMID</span>
                        <button id="${id}ClippyButton" class="clippy" data-clipboard-target="#${id}PMID"><img src="${dojoConfig.urlInfo.resourcePath}/img/clippy.png" alt="${i18n.CopyToClipboard}"></button>
                    </h2>
                    <form id="${id}SummaryForm">
                        <ul>
                            <li>
                                <label class="Prompt" for="Target">${i18n.Target}:</label>
                                <div><input id="${id}Target" data-dojo-props="trim:true" data-dojo-type="dijit.form.TextBox" disabled /></div>
                            </li>
                            <li>
                                <label class="Prompt" for="Process">${i18n.ProcessFilter}:</label>
                                <div><input id="${id}Process" data-dojo-props="trim:true" data-dojo-type="dijit.form.TextBox" disabled /></div>
                            </li>
                            <!--li>
                                <label class="Prompt" for="Description">Description:</label>
                                <div><input id="${id}Description" data-dojo-props="trim:true" data-dojo-type="dijit.form.TextBox"/></div>
                            </li-->
                        </ul>
                    </form>
                </div>
            </div>
            <div id="${id}XML" title="XML" data-dojo-props="isXmlContent: true" data-dojo-type="PackageSourceWidget">
            </div>
            <div id="${id}Parts" title="${i18n.title_PackageParts}" data-dojo-type="PackageMapPartsWidget">
            </div>
        </div>
    </div>
</div>
