<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
            <div id="${id}_Summary" style="width: 100%; height: 100%" data-dojo-props="title:'${i18n.Summary}', iconClass:'iconSuperFile'" data-dojo-type="dijit.layout.BorderContainer">
                <div id="${id}Toolbar" class="topPanel" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
                    <div id="${id}Refresh" data-dojo-attach-event="onClick:_onRefresh" data-dojo-props="iconClass:'iconRefresh'" data-dojo-type="dijit.form.Button">${i18n.Refresh}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Save" data-dojo-attach-event="onClick:_onSave" data-dojo-type="dijit.form.Button">${i18n.Save}</div>
                    <div id="${id}Delete" data-dojo-attach-event="onClick:_onDelete" data-dojo-type="dijit.form.Button">${i18n.DeleteSuperfile2}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div class="right" data-dojo-attach-event="onChange:_onMaximize" data-dojo-props="iconClass:'iconMaximize', showLabel:false" checked=false data-dojo-type="dijit.form.ToggleButton">${i18n.MaximizeRestore}</div>
                    <div id="${id}NewPage" class="right" data-dojo-attach-event="onClick:_onNewPage" data-dojo-props="iconClass:'iconNewPage', showLabel:false" data-dojo-type="dijit.form.Button">${i18n.OpenInNewPage}</div>
                </div>
                <div data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                    <h2>
                        <img id="${id}ProtectedImage" src="${dojoConfig.urlInfo.resourcePath}/img/unlocked.png" />&nbsp;
                        <img id="${id}CompressedImage" />&nbsp;
                        <img id="${id}StateIdImage" class="iconSuperFile" />&nbsp;<span id="${id}Name" class="bold"></span>
                    </h2>
                    <form id="${id}SummaryForm">
                        <ul>
                            <li>
                                <label for="${id}Description">${i18n.Description}: </label>
                                <input id="${id}Description" data-dojo-props="trim:true" data-dojo-type="dijit.form.SimpleTextarea" cols="55" rows="4" />
                            </li>
                            <li>
                                <label for="${id}Filesize">${i18n.FileSize}:</label>
                                <div id="${id}Filesize"></div>
                            </li>
                            <li>
                                <label class="Prompt" for="${id}isProtected">${i18n.Protected}:</label>
                                <div><input id="${id}isProtected" data-dojo-type="dijit.form.CheckBox" /></div>
                            </li>
                            <li>
                                <label for="${id}IsCompressed">${i18n.IsCompressed}:</label>
                                <div id="${id}IsCompressed"></div>
                            </li>
                            <li>
                                <label for="${id}PercentCompressed">${i18n.PercentCompressed}:</label>
                                <div id="${id}PercentCompressed"></div>
                            </li>
                        </ul>
                    </form>
                </div>
                <div style="width: 100%; height: 66%" data-dojo-props="region: 'bottom', splitter: true, minSize: 120" data-dojo-type="dijit.layout.BorderContainer">
                    <div class="topPanel" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
                        <div id="${id}Open" data-dojo-attach-event="onClick:_onOpen" data-dojo-type="dijit.form.Button">${i18n.Open}</div>
                        <div id="${id}Remove" data-dojo-attach-event="onClick:_onRemove" data-dojo-type="dijit.form.Button">${i18n.RemoveSubfiles}</div>
                        <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    </div>
                    <div id="${id}SubfilesGridCP" style="padding: 0px; border:0px; border-color:none" data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                        <div id="${id}SubfilesGrid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
