<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%;" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
            <div id="${id}_Summary" style="width: 100%; height: 100%" data-dojo-props="title:'${i18n.Summary}', iconClass:'iconWorkunit'" data-dojo-type="dijit.layout.BorderContainer">
                <div id="${id}Toolbar" class="topPanel" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
                    <div id="${id}Refresh" data-dojo-attach-event="onClick:_onRefresh" data-dojo-props="iconClass:'iconRefresh'" data-dojo-type="dijit.form.Button">${i18n.Refresh}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}NewPage" class="right" data-dojo-attach-event="onClick:_onNewPage" data-dojo-props="iconClass:'iconNewPage', showLabel:false" data-dojo-type="dijit.form.Button">${i18n.OpenInNewPage}</div>
                </div>
                <div id="${id}_Details" data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                    ${i18n.PleaseSelectATopologyItem}
                </div>
            </div>
            <div id="${id}_Configuration" title="${i18n.Configuration}" data-dojo-type="ECLSourceWidget">
            </div>
            <div id="${id}_Logs" title="${i18n.Logs}" data-dojo-type="LogWidget">
            </div>
            <div id="${id}_RequestInformation" title="${i18n.Preflight}" data-dojo-type="RequestInformationWidget">
            </div>
            <div id="${id}_GetNumberOfFilesToCopy" title="${i18n.RoxieFileCopy}" data-dojo-type="GetNumberOfFilesToCopyWidget">
            </div>
        </div>
    </div>
</div>
