<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
            <div id="${id}_Users" style="width: 100%; height: 100%" data-dojo-props='title:"${i18n.Users}", iconClass:"iconUser"' data-dojo-type="dijit.layout.BorderContainer">
                <div id="${id}Toolbar" class="topPanel" style="padding: 0px; overflow: hidden" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
                    <div id="${id}UsersRefresh" data-dojo-attach-event="onClick:_onRefreshUsers" data-dojo-props="iconClass:'iconRefresh'" data-dojo-type="dijit.form.Button">${i18n.Refresh}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}EditUsers" data-dojo-attach-event="onClick:_onEditUser" data-dojo-type="dijit.form.Button">${i18n.Open}</div>
                    <div id="${id}AddUsersDropDown" data-dojo-type="dijit.form.DropDownButton">
                        <span>${i18n.Add}</span>
                        <div data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}AddUserForm" onsubmit="return false;" style="width:400px" data-dojo-type="dijit.form.Form">
                                <div name="password" data-dojo-type="dojox.form.PasswordValidator">
                                    <table cellspacing="10">
                                        <tr>
                                            <td><label for="name">${i18n.UserID}:</label></td>
                                            <td><input id="${id}AddUsername" name="username" data-dojo-props="trim: true, required: true" data-dojo-type="dijit.form.ValidationTextBox" /></td>
                                        </tr>
                                        <tr>
                                            <td><label for="name">${i18n.FirstName}:</label></td>
                                            <td><input id="${id}AddUserFirstName" name="firstname" data-dojo-props="trim: true, placeHolder:'${i18n.PlaceholderFirstName}'" data-dojo-type="dijit.form.ValidationTextBox" /></td>
                                        </tr>
                                        <tr>
                                            <td><label for="name">${i18n.LastName}:</label></td>
                                            <td><input id="${id}AddUserLastName" name="lastname" data-dojo-props="trim: true, placeHolder:'${i18n.PlaceholderLastName}'" data-dojo-type="dijit.form.ValidationTextBox" /></td>
                                        </tr>
                                        <tr>
                                            <td><label for="name">${i18n.Password}:</label></td>
                                            <td><input name="password1" type="password" pwtype="new" data-dojo-props="trim: true, required: true, invalidMessage:'${i18n.PasswordsDoNotMatch}', placeHolder:'${i18n.MustContainUppercaseAndSymbol}'" data-dojo-type="dijit.form.ValidationTextBox" /></td>
                                        </tr>
                                        <tr>
                                            <td><label for="name">${i18n.RetypePassword}:</label></td>
                                            <td><input name="password2" type="password" pwtype="verify" data-dojo-props="trim: true, required: true, invalidMessage:'${i18n.PasswordsDoNotMatch}', placeHolder:'${i18n.MustContainUppercaseAndSymbol}'" data-dojo-type="dijit.form.ValidationTextBox" /></td>
                                        </tr>
                                    </table>
                                </div>
                                <div data-dojo-type="hpcc.TableContainer">
                                </div>
                                <div class="dijitDialogPaneActionBar">
                                    <button id="${id}_onAddSubmit" type="submit" data-dojo-attach-event="onClick:_onSubmitAddUserDialog" data-dojo-type="dijit.form.Button">${i18n.Add}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="${id}DeleteUsers" data-dojo-attach-event="onClick:_onDeleteUser" data-dojo-type="dijit.form.Button">${i18n.Delete}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}ExportUsers" data-dojo-attach-event="onClick:_onExportUser" data-dojo-type="dijit.form.Button">${i18n.Export}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Filter" data-dojo-type="FilterDropDownWidget">
                        <p id="${id}LDAPWarning" style="display:none">${i18n.LDAPWarning}</p>
                        <input id="${id}SearchInput" title="${i18n.User}:" name="searchinput" colspan="2" data-dojo-props="trim: true" data-dojo-type="dijit.form.TextBox" />
                    </div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div class="right" data-dojo-attach-event="onClick:_onNewPage" data-dojo-props="iconClass:'iconNewPage', showLabel:false" data-dojo-type="dijit.form.Button">${i18n.OpenInNewPage}</div>
                </div>
                <div id="${id}GridCP" style="padding: 0px; border:0px; border-color:none; overflow: hidden" data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                    <div id="${id}UsersGrid"></div>
                </div>
            </div>
            <div id="${id}_Groups" style="width: 100%; height: 100%" data-dojo-props='title:"${i18n.Groups}", iconClass:"iconGroup"' data-dojo-type="dijit.layout.BorderContainer">
                <div id="${id}GroupsToolbar" class="topPanel" style="padding: 0px; overflow: hidden" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
                    <div id="${id}GroupsRefresh" data-dojo-attach-event="onClick:_onRefreshGroups" data-dojo-props="iconClass:'iconRefresh'" data-dojo-type="dijit.form.Button">${i18n.Refresh}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}EditGroups" data-dojo-attach-event="onClick:_onEditGroup" data-dojo-type="dijit.form.Button">${i18n.Open}</div>
                    <div id="${id}AddGroupsDropDown" data-dojo-type="dijit.form.DropDownButton">
                        <span>${i18n.Add}</span>
                        <div data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}AddGroupForm" onsubmit="return false;" style="width:400px" data-dojo-type="dijit.form.Form">
                                <div data-dojo-type="hpcc.TableContainer">
                                    <input id="${id}AddGroupName" title="${i18n.GroupName}:" name="groupname" data-dojo-props="trim: true, required: true" data-dojo-type="dijit.form.ValidationTextBox" />
                                    <input id="${id}AddGroupOwner" placeholder="${i18n.ManagedByPlaceholder}:" title="${i18n.ManagedBy}:" name="groupOwner" data-dojo-props="trim: true, required: true" data-dojo-type="dijit.form.ValidationTextBox" />
                                    <input id="${id}AddGroupDescription" title="${i18n.Description}:" name="groupDesc" data-dojo-props="trim: true, required: true" data-dojo-type="dijit.form.ValidationTextBox" />
                                </div>
                                <div class="dijitDialogPaneActionBar">
                                    <button type="submit" data-dojo-attach-event="onClick:_onAddGroupSubmit" data-dojo-type="dijit.form.Button">${i18n.Add}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="${id}DeleteGroups" data-dojo-attach-event="onClick:_onDeleteGroup" data-dojo-type="dijit.form.Button">${i18n.Delete}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}ExportGroups" data-dojo-attach-event="onClick:_onExportGroup" data-dojo-type="dijit.form.Button">${i18n.Export}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div class="right" data-dojo-attach-event="onClick:_onNewPage" data-dojo-props="iconClass:'iconNewPage', showLabel:false" data-dojo-type="dijit.form.Button">${i18n.OpenInNewPage}</div>
                </div>
                <div id="${id}GroupsGridCP" style="padding: 0px; border:0px; border-color:none; overflow: hidden" data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                    <div id="${id}GroupsGrid"></div>
                </div>
            </div>
            <div id="${id}_Permissions" style="width: 100%; height: 100%" data-dojo-props='title:"${i18n.Permissions}", iconClass:"iconPermission"' data-dojo-type="dijit.layout.BorderContainer">
                <div id="${id}PermissionsToolbar" class="topPanel" style="padding: 0px; overflow: hidden" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
                    <div id="${id}PermissionsRefresh" data-dojo-attach-event="onClick:_onRefreshPermissions" data-dojo-props="iconClass:'iconRefresh'" data-dojo-type="dijit.form.Button">${i18n.Refresh}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}AddPermissionsDropDown" data-dojo-type="dijit.form.DropDownButton">
                        <span>${i18n.Add}</span>
                        <div data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}AddPermissionForm" onsubmit="return false;" style="width:400px" data-dojo-type="dijit.form.Form">
                                <div data-dojo-type="hpcc.TableContainer">
                                    <select id="${id}AddPermissionType" title="${i18n.Type}:" data-dojo-type="dijit.form.Select">
                                    </select>
                                    <input id="${id}AddPermissionName" title="${i18n.Name}:" name="name" data-dojo-props="trim: true, required: true" data-dojo-type="dijit.form.ValidationTextBox" />
                                    <input id="${id}AddPermissionDescription" title="${i18n.Description}:" name="description" data-dojo-props="trim: true, required: true" data-dojo-type="dijit.form.ValidationTextBox" />
                                </div>
                                <div class="dijitDialogPaneActionBar">
                                    <button type="submit" data-dojo-attach-event="onClick:_onAddPermissionSubmit" data-dojo-type="dijit.form.Button">${i18n.Add}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="${id}DeletePermissions" data-dojo-attach-event="onClick:_onDeletePermission" data-dojo-type="dijit.form.Button">${i18n.Delete}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div data-dojo-type="dijit.form.DropDownButton">
                        <span>${i18n.Advanced}</span>
                        <div data-dojo-type="dijit.DropDownMenu">
                            <div data-dojo-attach-event="onClick:_onClearPermissionsCache" data-dojo-type="dijit.MenuItem">${i18n.ClearPermissionsCache}</div>
                            <span data-dojo-type="dijit.MenuSeparator"></span>
                            <div data-dojo-attach-event="onClick:_onEnableScopeScans" data-dojo-type="dijit.MenuItem">${i18n.EnableScopeScans}</div>
                            <div data-dojo-attach-event="onClick:_onDisableScopeScans" data-dojo-type="dijit.MenuItem">${i18n.DisableScopeScans}</div>
                            <span data-dojo-type="dijit.MenuSeparator"></span>
                            <div data-dojo-attach-event="onClick:_onCodeGenerator" data-dojo-type="dijit.MenuItem">${i18n.CodeGenerator}</div>
                        </div>
                    </div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div class="right" data-dojo-attach-event="onClick:_onNewPage" data-dojo-props="iconClass:'iconNewPage', showLabel:false" data-dojo-type="dijit.form.Button">${i18n.OpenInNewPage}</div>
                </div>
                <div id="${id}PermissionsGridCP" style="padding: 0px; border:0px; border-color:none; overflow: hidden" data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                    <div id="${id}PermissionsGrid"></div>
                </div>
            </div>
            <div id="${id}_FileScopes" title="${i18n.FileScopes}" style="padding: 0px; border:0px; border-color:none; overflow: hidden" data-dojo-type="dijit.layout.ContentPane">
            </div>
        </div>
    </div>
</div>