<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%;" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
            <div id="${id}_Summary" style="width: 100%; height: 100%" data-dojo-props="title:'${i18n.Summary}', iconClass:'iconWorkunit'" data-dojo-type="dijit.layout.BorderContainer">
                <div id="${id}Toolbar" class="topPanel" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
                    <div id="${id}AutoRefresh" data-dojo-attach-event="onClick:_onAutoRefresh" data-dojo-props="iconClass:'iconAutoRefresh', showLabel:false" checked=true data-dojo-type="dijit.form.ToggleButton">${i18n.AutoRefresh}</div>
                    <div id="${id}Refresh" data-dojo-attach-event="onClick:_onRefresh" data-dojo-props="iconClass:'iconRefresh'" data-dojo-type="dijit.form.Button">${i18n.Refresh}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Save" data-dojo-attach-event="onClick:_onSave" data-dojo-type="dijit.form.Button">${i18n.Save}</div>
                    <div id="${id}Delete" data-dojo-attach-event="onClick:_onDelete" data-dojo-type="dijit.form.Button">${i18n.Delete}</div>
                    <div id="${id}Restore" data-dojo-attach-event="onClick:_onRestore" data-dojo-type="dijit.form.Button">${i18n.Restore}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Reschedule" data-dojo-attach-event="onClick:_onReschedule" data-dojo-type="dijit.form.Button">${i18n.Reschedule}</div>
                    <div id="${id}Deschedule" data-dojo-attach-event="onClick:_onDeschedule" data-dojo-type="dijit.form.Button">${i18n.Deschedule}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}SetToFailed" data-dojo-attach-event="onClick:_onSetToFailed" data-dojo-type="dijit.form.Button">${i18n.SetToFailed}</div>
                    <div id="${id}Abort" data-dojo-attach-event="onClick:_onAbort" data-dojo-type="dijit.form.Button">${i18n.Abort}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Recover" data-dojo-attach-event="onClick:_onRecover" data-dojo-type="dijit.form.Button">${i18n.Recover}</div>
                    <div id="${id}Resubmit" data-dojo-attach-event="onClick:_onResubmit" data-dojo-type="dijit.form.Button">${i18n.Resubmit}</div>
                    <div id="${id}Clone" data-dojo-attach-event="onClick:_onClone" data-dojo-type="dijit.form.Button">${i18n.Clone}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Publish" data-dojo-type="dijit.form.DropDownButton">
                        <span>${i18n.Publish}</span>
                        <div data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}PublishForm" style="width:460px" onsubmit="return false;" data-dojo-type="dijit.form.Form">
                                <div class="dijitDialogPaneContentArea" data-dojo-props="cols:2" data-dojo-type="hpcc.TableContainer">
                                    <input id="${id}Jobname2" title="${i18n.JobName}:" colspan="2" style="width:100%" required="true" data-dojo-props="trim: true" data-dojo-type="dijit.form.ValidationTextBox"/>
                                     <input id="${id}RemoteDali" title="${i18n.RemoteDali}:" colspan="2" style="width:100%" required="false" data-dojo-props="trim: true" data-dojo-type="dijit.form.ValidationTextBox"/>
                                     <input id="${id}SourceProcess" title="${i18n.SourceProcess}:" colspan="2" style="width:100%" required="false" data-dojo-props="trim: true" data-dojo-type="dijit.form.ValidationTextBox"/>
                                     <input id="${id}Comment" title="${i18n.Comment}:" colspan="2" style="width:100%" required="false" data-dojo-props="trim: true" data-dojo-type="dijit.form.ValidationTextBox"/>
                                     <select id="${id}Priority" title="${i18n.Priority}:" colspan="2" data-dojo-type="dijit.form.Select">
                                        <option value="" selected="selected">${i18n.None}</option>
                                        <option value="SLA">${i18n.SLA}</option>
                                        <option value="Low">${i18n.Low}</option>
                                        <option value="High">${i18n.High}</option>
                                    </select>
                                    <input id="${id}AllowForeignFiles" title="${i18n.AllowForeignFiles}:" name="AllowForeignFiles" colspan="2" data-dojo-props="trim: true" checked data-dojo-type="dijit.form.CheckBox" />
                                </div>
                                <div class="dijitDialogPaneActionBar">
                                    <button type="submit" data-dojo-attach-event="onClick:_onPublish" data-dojo-type="dijit.form.Button">${i18n.Submit}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}ZapReport"  title="${i18n.ZippedAnalysisPackage}" data-dojo-attach-event="onClick:onZapReport" data-dojo-props="iconClass:'iconZap'" data-dojo-type="dijit.form.Button">${i18n.ZAP}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}NewPage" class="right" data-dojo-attach-event="onClick:_onNewPage" data-dojo-props="iconClass:'iconNewPage', showLabel:false" data-dojo-type="dijit.form.Button">${i18n.OpenInNewPage}</div>
                </div>
                <div data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                    <h2>
                        <img id="${id}ProtectedImage" src="${dojoConfig.urlInfo.resourcePath}/img/locked.png" />&nbsp;<div id="${id}StateIdImage" class="iconWorkunit" ></div>&nbsp;<span id="${id}Wuid" class="bold">${i18n.WUID}</span>
                    </h2>
                    <form id="${id}SummaryForm">
                        <ul>
                            <li>
                                <label class="Prompt" for="${id}ActionEx">${i18n.Action}:</label>
                                <div id="${id}ActionEx"></div>
                            </li>
                            <li>
                                <label class="Prompt" for="${id}State">${i18n.State}:</label>
                                <div id="${id}State"></div>
                            </li>
                            <li>
                                <label class="Prompt" for="${id}Owner">${i18n.Owner}:</label>
                                <div id="${id}Owner"></div>
                            </li>
                            <li id="scopeOptional" class="hidden">
                                <label class="Prompt" for="${id}Scope">${i18n.Scope}:</label>
                                <div><input id="${id}Scope" data-dojo-props="trim:true" data-dojo-type="dijit.form.TextBox"/></div>
                            </li>
                            <li>
                                <label class="Prompt" for="${id}Jobname">${i18n.JobName}:</label>
                                <div><input id="${id}Jobname" data-dojo-props="trim:true" data-dojo-type="dijit.form.TextBox"/></div>
                            </li>
                            <li>
                                <label class="Prompt" for="${id}Description">${i18n.Description}:</label>
                                <div><input id="${id}Description" data-dojo-props="trim:true" data-dojo-type="dijit.form.TextBox"/></div>
                            </li>
                            <li>
                                <label class="Prompt" for="${id}Protected">${i18n.Protected}:</label>
                                <div><input id="${id}Protected" data-dojo-type="dijit.form.CheckBox"/></div>
                            </li>
                            <li>
                                <label class="Prompt" for="${id}Cluster">${i18n.Cluster}:</label>
                                <div id="${id}Cluster"></div>
                                <div id="${id}AllowedClusters" data-dojo-type="dijit.form.Select"/></div>
                            </li>
                            <li>
                                <label class="Prompt" for="${id}TotalClusterTime">${i18n.TotalClusterTime}:</label>
                                <div id="${id}TotalClusterTime"></div>
                            </li>
                        </ul>
                    </form>
                </div>
                <div id="${id}InfoContainer" class="wrap" style="height: 33%" data-dojo-props="region: 'bottom', splitter: true, minSize: 120" data-dojo-type="InfoGridWidget">
                </div>
            </div>
            <div id="${id}_Variables" title="${i18n.Variables}" data-dojo-props="delayWidget: 'VariablesWidget', disabled: true" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_Results" title="${i18n.Outputs}" data-dojo-props="delayWidget: 'ResultsWidget', disabled: true" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_Files" title="${i18n.Inputs}" data-dojo-props="delayWidget: 'SourceFilesWidget', disabled: true" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_Timers" title="${i18n.Timers}" data-dojo-props="delayWidget: 'TimingPageWidget', disabled: true" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_Graphs" title="${i18n.Graphs}" data-dojo-props="delayWidget: 'GraphsWidget', disabled: true" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_Workflows" title="${i18n.Workflows}" data-dojo-props="delayWidget: 'WorkflowsWidget', disabled: true" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_Queries" title="${i18n.Queries}" data-dojo-props="delayWidget: 'QuerySetQueryWidget', iconClass:'iconFind'" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_Resources" title="${i18n.Resources}" data-dojo-props="delayWidget: 'ResourcesWidget', disabled: true" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_Logs" title="${i18n.Helpers}" data-dojo-props="delayWidget: 'HelpersWidget', disabled: true" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_ECL" title="${i18n.ECL}" data-dojo-props="delayWidget: 'ECLSourceWidget'" data-dojo-type="DelayLoadWidget">
            </div>
            <div id="${id}_XML" title="${i18n.XML}" data-dojo-props="delayProps: {WUXml: true}, delayWidget: 'ECLSourceWidget'" data-dojo-type="DelayLoadWidget">
            </div>
        </div>
    </div>
    <div id="${id}ZapDialog" data-dojo-type="dijit.Dialog" title="${i18n.ZippedAnalysisPackage}">
        <form id="${id}ZapForm" action="/WsWorkunits/WUCreateZAPInfo" style="width:460px" method="post" encType="application/x-www-form-urlencoded">
            <div data-dojo-props="cols:2" data-dojo-type="hpcc.TableContainer">
                <input id="${id}ZapWUID" title="${i18n.WUID}:" name="Wuid" colspan="2" data-dojo-props="trim: true, readonly: true," data-dojo-type="dijit.form.TextBox" />
                <input id="${id}BuildVersion" title="${i18n.ESPBuildVersion}:" name="BuildVersion" colspan="2" data-dojo-props="trim: true, readonly: true," data-dojo-type="dijit.form.TextBox" />
                <input id="${id}ESPIPAddress" title="${i18n.ESPNetworkAddress}:" name="ESPIPAddress" colspan="2" data-dojo-props="trim: true, readonly: true," data-dojo-type="dijit.form.TextBox" />
                <input id="${id}ThorIPAddress" title="${i18n.ThorNetworkAddress}:" name="ThorIPAddress" colspan="2" data-dojo-props="trim: true, readonly: true," data-dojo-type="dijit.form.TextBox" />
                <input id="${id}ZapDescription" title="${i18n.Description}:" name="ProblemDescription" cols="22" colspan="2" data-dojo-type="dijit.form.SimpleTextarea"/>
                <input id="${id}WarnHistory" title="${i18n.History}:" name="WhatChanged" cols="22" colspan="2" data-dojo-type="dijit.form.SimpleTextarea"/>
                <input id="${id}WarnTimings" title="${i18n.Timings}:" name="WhereSlow" cols="22" colspan="2" data-dojo-type="dijit.form.SimpleTextarea"/>
                <input id="${id}Password" title="${i18n.PasswordOpenZAP}:" name="Password" cols="22" colspan="2" type="password" data-dojo-props="trim: true" data-dojo-type="dijit.form.ValidationTextBox" />
            </div>
            <button id="${id}onZapSubmit" data-dojo-attach-event="onClick:_onCancelDialog" class="bottomFormButtons" type="submit" data-dojo-type="dijit.form.Button">${i18n.Apply}</button>
            <button class="bottomFormButtons" data-dojo-attach-event="onClick:_onCancelDialog" data-dojo-type="dijit.form.Button">${i18n.Cancel}</button>
        </form>
    </div>
</div>
