kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: aws-efs
provisioner: efs.csi.aws.com
parameters:
  provisioningMode: efs-ap
  fileSystemId: <EFS_ID>
  directoryPerms: "700"
  #gidRangeStart: "1000" # optional
  #gidRangeEnd: "2000" # optional
  basePath: "<EFS_BASE_PATH>" # optional
