[config]
# The test harness is run from a standard deployment
LOCALROOT=/

# The test system is a standard deployment
REMOTEROOT=/

# Which directory to store the results - this is the default...
RESULTS=/home/testrunner/results

# 5 node roxie 
ROXIE_IPS=192.168.1.10,192.168.1.11,192.168.1.12,192.168.1.13,192.168.1.14

# Send the queries to a load balancer
SUBMIT_IP=192.168.1.8

# Encrypted port - use ssl
ROXIE_PORT=19876

# Which file contains the environment file to be patched?
INPUT=environment.production.in.xml
