[config]
# The test harness is run from a local debug system
LOCALROOT=/home/gavin/hpcc

# The test system is run from a developer release directort
REMOTEROOT=/home/gavin/hpccrelease

# Which directory to store the results - this is the default...
RESULTS=results

# local single node roxie
ROXIE_IPS=192.168.1.10

# Send the queries to the specific node
SUBMIT_IP=192.168.1.10

# Standard port - don't use ssl
ROXIE_PORT=9876

# Which file contains the environment file to be patched?
INPUT=environment.local.in.xml
