[Desktop Entry]
Version=7.x
Name=HPCC Systems®
GenericName=HPCC Systems®
Comment=HPCC Cluster Administration
Exec=x-www-browser "http://localhost:8010"
Terminal=false
Icon=/opt/HPCCSystems/share/LN.png
Type=Application
Categories=HPC;Cluster;
X-Ayatana-Desktop-Shortcuts=Start;Stop;Restart;Status
Actions=Start;Stop;Restart;Status;

[Desktop Action Start]
Name=Start HPCC Cluster
Exec=xterm -T "Starting HPCC Cluster" -e sudo /opt/HPCCSystems/sbin/hpcc-run.sh start

[Desktop Action Stop]
Name=Stop HPCC Cluster
Exec=xterm -T "Stopping HPCC Cluster" -e sudo /opt/HPCCSystems/sbin/hpcc-run.sh stop

[Desktop Action Restart]
Name=Restart HPCC Cluster
Exec=xterm -T "Restarting HPCC Cluster" -e sudo /opt/HPCCSystems/sbin/hpcc-run.sh restart

[Desktop Action Status]
Name=HPCC Cluster Status
Exec=xterm -T "HPCC Status" -hold -e sudo /opt/HPCCSystems/sbin/hpcc-run.sh status

[Start Shortcut Group]
Name=Start HPCC Cluster
Exec=xterm -T "Starting HPCC Cluster" -e sudo /opt/HPCCSystems/sbin/hpcc-run.sh start

[Stop Shortcut Group]
Name=Stop HPCC Cluster
Exec=xterm -T "Stopping HPCC Cluster" -e sudo /opt/HPCCSystems/sbin/hpcc-run.sh stop

[Restart Shortcut Group]
Name=Restart HPCC Cluster
Exec=xterm -T "Restarting HPCC Cluster" -e sudo /opt/HPCCSystems/sbin/hpcc-run.sh restart

[Status Shortcut Group]
Name=HPCC Cluster Status
Exec=xterm -T "HPCC Status" -hold -e sudo /opt/HPCCSystems/sbin/hpcc-run.sh status
