:root {
    --header-font-size: 14px;
    --row-font-size: 13px;
    --grid-background: transparent;
    --grid-selectionForeground: rgb(50, 49, 48);
    --grid-selectionBackground: rgb(235, 235, 235);
    --grid-hoverBackground: rgb(247, 245, 243);
    --grid-selectionHoverBackground: rgb(227, 225, 223);
}

.flat .dojo-component.dgrid.dgrid-grid {
    border-style: hidden;
}

.flat .dgrid-header-row {
    background-color: var(--grid-background);
    font-size: var(--header-font-size);
    line-height: 32px;
}

.flat .dgrid-header-row .dgrid-cell {
    border-bottom-color: var(--grid-selectionBackground);
}

.flat .dgrid-header-row:focus {
    outline-width: 0px;
}

.flat .dgrid-header.dgrid-header-scroll {
    background-color: var(--grid-background);
}

.flat .dgrid-row {
    font-size: var(--row-font-size);
    line-height: 22px;
}

.flat .dgrid-row:hover {
    background-color: var(--grid-hoverBackground);
}

.flat .dgrid-row.dgrid-selected:hover {
    background-color: var(--grid-selectionHoverBackground);
}

.flat .dgrid-row .dgrid-selected {
    background-color: var(--grid-selectionBackground);
    color: var(--grid-selectionForeground);
    border-color: var(--grid-background);
}

.flat .dgrid-cell {
    border-color: var(--grid-background);
}

.flat .dgrid-focus:focus {
    outline-width: 0px;
}

.flat .dgrid-fakeline {
    border: 0px;
    margin: 2px;
}

.flat .dgrid-footer {
    background-color: var(--grid-background);
}

.flat .dgrid-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 14px;
    padding: 4px 8px;
}

.flat .dgrid-pagination .dgrid-status {
    flex-grow: 1;
    padding: 0;
}

.flat .dgrid-pagination .dgrid-page-size {
    margin: 0 10px 0 0;
    padding: 2px;
    width: 46px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.flat .dgrid-pagination .dgrid-navigation .dgrid-page-input {
    padding: 0;
    margin: 0;
    background: var(--grid-background);
    border-style: solid;
    border-width: 1px;
    color: inherit;
}