# Configures HPCC logAccess to target Azure Log Analytics Workspace
global:
  logAccess:
    name: "Azure LogAnalytics LogAccess"
    type: "AzureLogAnalyticsCurl"
    #connection:
      #All connection attributes are optional.
      #It is preferable to provide connection values as secret values category 'esp', secret name 'azure_logaccess'
      # NOTE: secret 'azure_logaccess' must include 'aad-client-secret' and it cannot be provided in configuration
      #
      #workspaceID: "XYZ"      #ID of the Azure LogAnalytics workspace to query logs from
                               # Secret value equivalent: 'ala-workspace-id'
      #clientID: "DEF"         #ID of Azure Active Directory registered application with api.loganalytics.io access - format: 00000000-0000-0000-0000-000000000000
                               # Secret value equivalent: 'aad-client-id'
      #tenantID: "ABC"         #The Azure Active Directory Tenant ID, required for KQL API access
                               # Secret value equivalent: 'aad-tenant-id'
    logMaps:
    - type: "global"
      storeName: "ContainerLog"
      searchColumn: "LogEntry"
      timeStampColumn: "hpcc_log_timestamp"
    - type: "workunits"
      storeName: "ContainerLog"
      searchColumn: "hpcc_log_jobid"
    - type: "components"
      searchColumn: "ContainerID"
    - type: "audience"
      searchColumn: "hpcc_log_audience"
    - type: "class"
      searchColumn: "hpcc_log_class"
    - type: "instance"
      storeName: "ContainerInventory"
      searchColumn: "Name"
    - type: "host"
      searchColumn: "Computer"
