<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%;" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
            <div id="${id}_SOAP" title="${i18n.SOAP}" style="padding: 0px; border:0px; border-color:none; overflow: hidden" data-dojo-type="dijit.layout.ContentPane">
            </div>
            <div id="${id}_JSON" title="${i18n.JSON}" style="padding: 0px; border:0px; border-color:none; overflow: hidden" data-dojo-type="dijit.layout.ContentPane">
            </div>
            <div id="${id}_WSDL" title="${i18n.WSDL}" style="padding: 0px; border:0px; border-color:none; overflow: hidden" data-dojo-type="dijit.layout.ContentPane">
            </div>
            <div id="${id}_RequestSchema" title="${i18n.RequestSchema}" style="padding: 0px; border:0px; border-color:none; overflow: hidden" data-dojo-type="dijit.layout.ContentPane">
            </div>
            <div id="${id}_ResponseSchemaBorder" title="${i18n.ResponseSchema}" style="width: 100%; height: 100%;" data-dojo-type="dijit.layout.BorderContainer">
                <div id="${id}ResponseSchema" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
                </div>
            </div>
            <div id="${id}_Request" title="${i18n.SampleRequest}" style="padding: 0px; border:0px; border-color:none; overflow: hidden" data-dojo-type="dijit.layout.ContentPane">
            </div>
            <div id="${id}_Response" title="${i18n.SampleResponse}" style="padding: 0px; border:0px; border-color:none; overflow: hidden" data-dojo-type="dijit.layout.ContentPane">
            </div>
            <div id="${id}_ParamXML" title="${i18n.ParameterXML}" style="padding: 0px; border:0px; border-color:none; overflow: hidden" data-dojo-type="dijit.layout.ContentPane">
            </div>
            <div id="${id}_Form" title="${i18n.LegacyForm}" style="padding: 0px; border:0px; border-color:none; overflow: hidden" data-dojo-type="dijit.layout.ContentPane">
            </div>
            <div id="${id}_Links" title="${i18n.Links}" style="padding: 0px; border:0px; border-color:none; overflow: hidden" data-dojo-type="dijit.layout.ContentPane">
            </div>
        </div>
    </div>
</div>