:root {
    --header-font-size: 14px;
    --row-font-size: 13px;
}

.flat .dojo-component.dgrid.dgrid-grid {
    border-style: hidden;
}

.flat .dgrid-header-row {
    background-color: transparent;
    font-size: var(--header-font-size);
    line-height: 32px;
}

.flat .dgrid-header-row .dgrid-cell {
    border-bottom-color: var(--colorNeutralBackground1Selected);
}

.flat .dgrid-header-row:focus {
    outline-width: 0px;
}

.flat .dgrid-header.dgrid-header-scroll {
    background-color: transparent;
}

.flat .dgrid-row {
    font-size: var(--row-font-size);
    line-height: 22px;
}

.flat .dgrid-row:hover {
    background-color: var(--colorNeutralBackground1Hover);
}

.flat-dark .dgrid-row:hover {
    background-color: var(--colorNeutralBackground1Hover);
}

.flat .dgrid-row.dgrid-selected:hover {
    background-color: var(--colorNeutralBackground1Hover);
}

.flat-dark .dgrid-row.dgrid-selected:hover {
    background-color: var(--colorNeutralBackground1Hover);
}

.flat .dgrid-row.dgrid-selected {
    background-color: var(--colorNeutralBackground1Selected);
    color: var(--colorNeutralForeground1Selected);
    border-color: transparent;
}

.flat-dark .dgrid-row.dgrid-selected {
    background-color: var(--colorNeutralBackground1Selected);
    color: var(--colorNeutralForeground1Selected);
}

.flat .dgrid-cell {
    border-color: transparent;
}

.flat .dgrid-focus:focus {
    outline-width: 0px;
}

.flat .dgrid-fakeline {
    border: 0px;
    margin: 2px;
}

.flat .dgrid-footer {
    background-color: var(--colorNeutralStroke1);
}

.flat .dgrid-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 14px;
    padding: 4px 8px;
}

.flat .dgrid-pagination .dgrid-status {
    flex-grow: 1;
    padding: 0;
}

.flat .dgrid-pagination .dgrid-page-size {
    margin: 0 10px 0 0;
    padding: 2px;
    width: 46px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.flat .dgrid-pagination .dgrid-navigation .dgrid-page-input {
    padding: 0;
    margin: 0;
    background: var(--colorNeutralStroke1);
    border-style: solid;
    border-width: 1px;
    color: inherit;
}

.dgrid-selector .dgrid-resize-header-container {
    display: flex;
    height: auto;
}

.dgrid-cell .dgrid-sort-arrow {
    margin-top: 9px;
}

.dgrid-header .dgrid-cell {
    vertical-align: middle;
}

.dgrid-cell .iconAlign {
    vertical-align: text-bottom;
}

th.dgrid-cell [type="checkbox"] {
    vertical-align: text-bottom;
}