# Default values for hpcc.

global:
  # Settings in the global section apply to all HPCC components in all subcharts
  
  dllserver:
    storageSize: 3Gi
    ## If defined, storageClassName: <storageClass>
    ## If set to "-", storageClassName: "", which disables dynamic provisioning
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
    ##   GKE, AWS & OpenStack)
    ##
    storageClass: ""
    # existingClaim: ""
  
  dataStorage:
    storageSize: 1Gi
    ## If defined, storageClassName: <storageClass>
    ## If set to "-", storageClassName: "", which disables dynamic provisioning
    ## If undefined (the default) or set to null, no storageClassName spec is
    ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
    ##   GKE, AWS & OpenStack)
    ##
    storageClass: ""
    # existingClaim: ""

  image:
    # This should probably say "latest" or "stable" in the example script, but set to a specific version in production systems
    # We should also support overriding the version within a component
    version: master-2020-02-20b
    root: "hpccsystems"    # change this if you want to pull your images from somewhere other than DockerHub hpccsystems/*
    pullPolicy: IfNotPresent
  
  # Set to true if using hostPath storageClass
  # This will cause initContainers to be created to ensure that host mount points have correct uid/gid
  hostStorage: true

  # Set to true if using hostPath storageClass
  # This will cause initContainers to be created to ensure that host mount points have correct uid/gid
  hostStorage: true

  #Logging :
  #   Stderronly:
  #      Enabled: true
  #   Elasticstack:
  #      Enabled: false

Logging :      #stderr logging is default
  ElasticStack:
    Enabled: true

dali:
- name: mydali

eclagent:
- name: myeclagent
  queueNames: "hthor.agent" # kludge to match environment - until esp services can pick up dynamically
  replicas: 1
  containerPerAgent: true
  maxActive: 2
    
eclccserver:
- name: myeclccserver
  replicas: 1
    
esp:
- name: myesp
  replicas: 1

roxie:
- name: myroxie
  ports: [9876,0]
  numChannels: 2
  serverReplicas: 1
  topoReplicas: 2
  topoport: 9004
  useAeron: true

thor:
- name: thor1
  numSlaves: 2
  globalMemorySize: 4096
  maxActive: 2
  eclagent:
    queueNames: "thor.agent" # kludge to match environment - until esp services can pick up dynamically
    replicas: 1
    containerPerAgent: false
