<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
            <div id="${id}Summary" style="width: 100%; height: 100%" data-dojo-props='title:"Summary", iconClass:"iconWorkunit"' data-dojo-type="dijit.layout.BorderContainer">
                <div id="${id}Toolbar" class="topPanel" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
                    <div id="${id}Save" data-dojo-attach-event="onClick:_onSave" data-dojo-type="dijit.form.Button">Save</div>
                    <div id="${id}Delete" data-dojo-attach-event="onClick:_onDelete" data-dojo-type="dijit.form.Button">Delete</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                <div id="${id}Abort" data-dojo-attach-event="onClick:_onAbort" data-dojo-type="dijit.form.Button">Abort</div>
                <span data-dojo-type="dijit.ToolbarSeparator"></span>
                <div id="${id}Resubmit" data-dojo-attach-event="onClick:_onResubmit" data-dojo-type="dijit.form.Button">Resubmit</div>
                <div id="${id}Modify" data-dojo-attach-event="onClick:_onModify" data-dojo-type="dijit.form.Button">Modify</div>
                <span data-dojo-type="dijit.ToolbarSeparator"></span>
                </div>                
                <div data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">                    
                    <div class="rounded">
                       <h2>
                        <img id="${id}ProtectedImage" src="img/locked.png"/>&nbsp<img id="${id}StateIdImage" src="img/workunit.png"/>&nbsp<span id="${id}Wuid" class="bold">WUID</span>
                    </h2>
                    <form id="longList">                    
                         <!--<div id="jsProgressBar" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:showProgress">go</div>-->
                        <ul>                           
                             <li>
                                <label for="ID">ID:</label>
                                <div id="${id}ID"></div>
                            </li>
                             <li>
                                <label for="Owner">Job name:</label>
                                <div><input id="${id}JobName" data-dojo-props="trim:true" data-dojo-type="dijit.form.TextBox"/></div>
                            </li>
                             <li>                 
                                <label for="Protected">Protected:</label>
                                <div><input id="${id}Protected" data-dojo-type="dijit.form.CheckBox"/></div>
                            </li>
                            <li>
                                <label for="Queue">Queue:</label>
                                <div id="${id}Queue"></div>
                            </li>
                            <li>
                                <label for="Command">Command:</label>
                                <div id="${id}Command"></div>
                            </li>
                            <li>
                                <label for="Time Started">Time Started:</label>
                                <div id="${id}TimeStarted"></div>
                            </li>
                            <li>
                                <label for="Time Stopped">Time Stopped:</label>
                                <div id="${id}TimeStopped"></div>
                            </li>
                            <li>
                                <label for="Percent Done">Percent Done:</label>
                                <!-- TODO Need to write a IE8 fallback -->
                                <div><progress id="${id}ProgressBar" max='100' style='width:197px'></progress></div>
                                
                            </li>
                            <li>
                                <label for="Progress Message">Progress Message:</label>
                                <div id="${id}ProgressMessage"></div>
                            </li>                            
                            <li>
                                <label for="Summary Message">SummaryMessage:</label>
                                <div id="${id}SummaryMessage"></div>
                            </li>
                        </ul>
                    </form>
                        </div>
                        <div class="rounded">
                            <h1>Additional Details</h1>
                            <form>
                            <ul>
                             <li>
                                <label for="State">State:</label>
                                <div>
                                    <select name="SelectType" data-dojo-type="dijit/form/Select" id="${id}State">
                                        <option value="Finished">Finished</option>
                                        <option value="Failed">Failed</option>    
                                    </select>
                                </div>
                            </li>
                            <li>
                                <label for="Source Logical Name">SourceLogicalName:</label>
                                <div id="${id}SourceLogicalName"></div>
                            </li>
                            <li>
                                <label for="Destination Directory">DestDirectory:</label>
                                <div id="${id}DestDirectory"></div>
                            </li>
                            <li>
                                <label for="Destination IP">DestIP:</label>
                                <div id="${id}DestIP"></div>
                            </li>
                            <li>
                                <label for="Destination File Path">DestFilePath:</label>
                                <div id="${id}DestFilePath"></div>
                            </li>
                            <li>
                                <label for="Destination Format">DestFormat:</label>
                                <div id="${id}DestFormat"></div>
                            </li>
                            <li>
                                <label for="Destination Number Parts">DestNumParts:</label>
                                <div id="${id}DestNumParts"></div>
                            </li>
                            <li>
                                <label for="Monitor Sub">MonitorSub:</label>
                                <div id="${id}MonitorSub"></div>
                            </li>
                            <li>
                                <label for="Overwrite">Overwrite:</label>
                                <div id="${id}Overwrite"></div>
                            </li>
                            <li>
                                <label for="Replicate">Replicate:</label>
                                <div id="${id}Replicate"></div>
                            </li>
                            <li>
                                <label for="Compress">Compress:</label>
                                <div id="${id}Compress"></div>
                            </li>
                             <li>
                                <label for="Auto Refresh">AutoRefresh:</label>
                                <div id="${id}AutoRefresh"></div>
                            </li>
                        </ul>
                        </form>  
                    </div>
                                  
                </div>
            </div>
            <div id="${id}XML" title="XML" data-dojo-props="WUXml: true" data-dojo-type="ECLSourceWidget">
            </div>
            <div id="${id}Legacy" title="Legacy Web Page" data-dojo-type="dijit.layout.ContentPane">                
            </div>

        </div>
    </div>
</div>