<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
            <div id="${id}_Summary" style="width: 100%; height: 100%" data-dojo-props='title:"Summary", iconClass:"iconWorkunit"' data-dojo-type="dijit.layout.BorderContainer">
                <div id="${id}Toolbar" class="topPanel" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
                    <div id="${id}Refresh" data-dojo-attach-event="onClick:_onRefresh" data-dojo-props="iconClass:'iconRefresh'" data-dojo-type="dijit.form.Button">Refresh</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Save" data-dojo-attach-event="onClick:_onSave" data-dojo-type="dijit.form.Button">Save</div>
                    <div id="${id}Delete" data-dojo-attach-event="onClick:_onDelete" data-dojo-type="dijit.form.Button">Delete</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Abort" data-dojo-attach-event="onClick:_onAbort" data-dojo-type="dijit.form.Button">Abort</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Resubmit" data-dojo-attach-event="onClick:_onResubmit" data-dojo-type="dijit.form.Button">Resubmit</div>
                    <div id="${id}Modify" data-dojo-attach-event="onClick:_onModify" data-dojo-type="dijit.form.Button">Modify</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                </div>
                <div data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                        <h2>
                            <img id="${id}ProtectedImage" src="img/locked.png" />&nbsp<img id="${id}StateIdImage" src="img/workunit.png" />&nbsp<span id="${id}Wuid" class="bold">WUID</span>&nbsp<span id="${id}CommandMessage2" class="bold">Command</span>
                        </h2>
                        <form>
                            <ul>
                                <li>
                                    <label for="${id}ID">ID:</label>
                                    <div id="${id}ID"></div>
                                </li>
                                <li>
                                    <label for="${id}ClusterName">Cluster Name:</label>
                                    <div id="${id}ClusterName"></div>
                                </li>
                                <li>
                                    <label for="${id}JobName">Job name:</label>
                                    <input id="${id}JobName" data-dojo-props="trim:true" data-dojo-type="dijit.form.TextBox" />
                                </li>
                                <li>
                                    <label for="${id}DFUServerName">DFU Server Name:</label>
                                    <div id="${id}DFUServerName"></div>
                                </li>
                                <li>
                                    <label for="${id}Queue">Queue:</label>
                                    <div id="${id}Queue"></div>
                                </li>
                                <li>
                                    <label for="${id}User">User:</label>
                                    <div id="${id}User"></div>
                                </li>
                                <li>
                                    <label for="isProtected">Protected:</label>
                                    <input id="${id}isProtected" value=true data-dojo-type="dijit.form.CheckBox" />
                                </li>
                                <li>
                                    <label for="${id}CommandMessage">Command:</label>
                                    <div id="${id}CommandMessage"></div>
                                </li>
                                <li>
                                    <label for="${id}StateMessage">State:</label>
                                    <select id="${id}StateMessage" name="SelectType" data-dojo-type="dijit/form/Select">
                                    </select>
                                </li>
                                <li>
                                    <label for="${id}TimeStarted">Time Started:</label>
                                    <div id="${id}TimeStarted"></div>
                                </li>
                                <li>
                                    <label for="${id}TimeStopped">Time Stopped:</label>
                                    <div id="${id}TimeStopped"></div>
                                </li>
                                <li>
                                    <label for="${id}PercentDone">Percent Done:</label>
                                    <div id="${id}PercentDone" style="width: 190px" data-dojo-props="maximum:10" data-dojo-type="dijit/ProgressBar"></div>
                                </li>
                                <li>
                                    <label for="${id}ProgressMessage">Progress Message:</label>
                                    <div id="${id}ProgressMessage"></div>
                                </li>
                                <li>
                                    <label for="${id}SecsLeft">Seconds Remaining:</label>
                                    <div id="${id}SecsLeft"></div>
                                </li>
                                <li>
                                    <label for="Summary Message">Summary Message:</label>
                                    <div id="${id}SummaryMessage"></div>
                                </li>
                            </ul>
                        </form>
                    <hr class="dashedLine">
                        <form>
                            <h1>Source</h1>
                            <ul>
                                <li>
                                    <label for="${id}SourceIP">IP:</label>
                                    <div id="${id}SourceIP"></div>
                                </li>
                                <li>
                                    <label for="${id}SourceDirectory">Directory:</label>
                                    <div id="${id}SourceDirectory"></div>
                                </li>
                                <li>
                                    <label for="${id}SourceFilePath">File Path:</label>
                                    <div id="${id}SourceFilePath"></div>
                                </li>
                                <li>
                                    <label for="${id}SourceLogicalName">Logical Name:</label>
                                    <div id="${id}SourceLogicalName"></div>
                                </li>
                                <li>
                                    <label for="${id}SourceNumParts">Number of Parts:</label>
                                    <div id="${id}SourceNumParts"></div>
                                </li>
                                <li>
                                    <label for="${id}SourceDali">Dali:</label>
                                    <div id="${id}SourceDali"></div>
                                </li>
                                <li>
                                    <label for="${id}SourceFormatMessage">Format:</label>
                                    <div id="${id}SourceFormatMessage"></div>
                                </li>
                                <li>
                                    <label for="${id}SourceRecordSize">Record Size:</label>
                                    <div id="${id}SourceRecordSize"></div>
                                </li>
                                <li>
                                    <label for="${id}RowTag">Row Tag:</label>
                                    <div id="${id}RowTag"></div>
                                </li>
                                <li>
                                    <label for="${id}SourceSeperators">Seperators:</label>
                                    <div id="${id}SourceSeperators"></div>
                                </li>
                                <li>
                                    <label for="${id}SourceEscape">Escape:</label>
                                    <div id="${id}SourceEscape"></div>
                                </li>
                                <li>
                                    <label for="${id}SourceTerminators">Terminators:</label>
                                    <div id="${id}SourceTerminators"></div>
                                </li>
                                <li>
                                    <label for="${id}SourceQuote">Quote:</label>
                                    <div id="${id}SourceQuote"></div>
                                </li>
                            </ul>
                        </form>
                    <hr class="dashedLine">
                        <form>
                            <h1>Target</h1>
                            <ul>
                                <li>
                                    <label for="${id}DestIP">IP:</label>
                                    <div id="${id}DestIP"></div>
                                </li>
                                <li>
                                    <label for="${id}DestDirectory">Directory:</label>
                                    <div id="${id}DestDirectory"></div>
                                </li>
                                <li>
                                    <label for="${id}DestFilePath">File Path:</label>
                                    <div id="${id}DestFilePath"></div>
                                </li>
                                <li>
                                    <label for="${id}DestLogicalName">Logical Name:</label>
                                    <div id="${id}DestLogicalName"></div>
                                </li>
                                <li>
                                    <label for="${id}DestGroupName">Group Name:</label>
                                    <div id="${id}DestGroupName"></div>
                                </li>
                                <li>
                                    <label for="${id}DestNumParts">Number of Parts:</label>
                                    <div id="${id}DestNumParts"></div>
                                </li>
                                <li>
                                    <label for="${id}DestFormatMessage">Format:</label>
                                    <div id="${id}DestFormatMessage"></div>
                                </li>
                                <li>
                                    <label for="${id}DestRecordSize">Record Size:</label>
                                    <div id="${id}DestRecordSize"></div>
                                </li>
                            </ul>
                        </form>
                        <hr class="dashedLine">
                        <form>
                            <h1>Other</h1>
                            <ul>
                                <li>
                                    <label for="${id}MonitorEventName">Monitor Event Name:</label>
                                    <div id="${id}MonitorEventName"></div>
                                </li>
                                <li>
                                    <label for="${id}MonitorSub">Monitor Sub:</label>
                                    <div id="${id}MonitorSub"></div>
                                </li>
                                <li>
                                    <label for="${id}MonitorShotLimit">Monitor Shot Limit:</label>
                                    <div id="${id}MonitorShotLimit"></div>
                                </li>
                                <li>
                                    <label for="${id}Overwrite">Overwrite:</label>
                                    <div id="${id}Overwrite"></div>
                                </li>
                                <li>
                                    <label for="${id}Replicate">Replicate:</label>
                                    <div id="${id}Replicate"></div>
                                </li>
                                <li>
                                    <label for="${id}Compress">Compress:</label>
                                    <div id="${id}Compress"></div>
                                </li>
                            </ul>
                        </form>
                </div>
            </div>
            <div id="${id}_XML" title="XML" data-dojo-props="WUXml: true" data-dojo-type="ECLSourceWidget">
            </div>
        </div>
    </div>
</div>