<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}TopPane" class="topPanel" data-dojo-props="region: 'top'" data-dojo-type="dijit.layout.ContentPane">
            <div id="${id}Title" style="display: inline-block; vertical-align: middle; font-weight: bold; font-size: x-large">
                ECL Playground
            </div>
            <div style="float: right; display: inline-block; vertical-align: middle">
                <div id="${id}SampleSelect" style="display: inline-block; vertical-align: middle" data-dojo-type="SampleSelectWidget">
                </div>
            </div>
        </div>
        <div id="${id}Source" class="centerPanel" data-dojo-props="region: 'center'" data-dojo-type="ECLSourceWidget">
        </div>
        <div id="${id}Graphs" style="width: 240px;" data-dojo-props="minSize:120, region: 'right', splitter:true" data-dojo-type="GraphWidget">
        </div>
        <div id="${id}Results" style="height: 240px;" data-dojo-props="minSize:120, region: 'bottom', splitter:true" data-dojo-type="ResultsWidget">
        </div>
        <div id="${id}SubmitPane" class="edgePanel" data-dojo-props="region: 'bottom'" data-dojo-type="dijit.layout.ContentPane">
            <div style="display: inline-block; vertical-align: middle">
                <button id="${id}SubmitBtn" data-dojo-attach-event="onClick:_onSubmit" data-dojo-type="dijit.form.Button">Submit</button>
                <label for="Target">Target:</label>
                <div id="${id}TargetSelect" style="display: inline-block; vertical-align: middle" data-dojo-type="TargetSelectWidget">
                </div>
            </div>
            <div style="float: right; display: inline-block; vertical-align: middle">
                <div id="${id}Status">
                    ...
                </div>
            </div>
        </div>
    </div>
</div>
