<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}MainGraphWidget" data-dojo-props="region: 'center'" data-dojo-type="GraphWidget">
            <div id="${id}GraphSelect" data-dojo-type="dijit.form.Select">
            </div>
            <span data-dojo-type="dijit.ToolbarSeparator"></span>
            <div id="${id}FindField" style="width: 120px" data-dojo-props="placeHolder:'find'" data-dojo-type="dijit.form.TextBox">Find</div>
            <div id="${id}Find" data-dojo-attach-event="onClick:_onFind" data-dojo-type="dijit.form.Button">F</div>
            <div id="${id}Previous" data-dojo-attach-event="onClick:_onFindPrevious" data-dojo-type="dijit.form.Button">&lt;</div>
            <div id="${id}Next" data-dojo-attach-event="onClick:_onFindNext" data-dojo-type="dijit.form.Button">&gt;</div>
            <span data-dojo-type="dijit.ToolbarSeparator"></span>
            <div id="${id}Layout" data-dojo-attach-event="onClick:_onLayout" data-dojo-type="dijit.form.Button">Layout</div>
        </div>
        <div id="${id}RightBorderContainer" style="width: 33%; padding: 0px; overflow: hidden" data-dojo-props="region: 'right', splitter:true, minSize: 120" data-dojo-type="dijit.layout.BorderContainer">
            <div id="${id}OverviewTabContainer" data-dojo-props="region: 'center', tabPosition: 'bottom'" data-dojo-type="dijit.layout.TabContainer">
                <div id="${id}MiniGraphWidget" title="Overview" data-dojo-type="GraphWidget">
                </div>
                <div id="${id}TimingsGrid" title="Timings" data-dojo-type="TimingGridWidget">
                </div>
                <div id="${id}TimingsTreeMap" title="Timings Map" data-dojo-type="TimingTreeMapWidget">
                </div>
                <div id="${id}VerticesGrid" title="Activities" style="padding: 0px; overflow: hidden" data-dojo-type="dojox.grid.DataGrid">
                </div>
                <div id="${id}EdgesGrid" title="Edges" style="padding: 0px; overflow: hidden" data-dojo-type="dojox.grid.DataGrid">
                </div>
            </div>
            <div id="${id}LocalTabContainer" style="height: 66%" data-dojo-props="region: 'bottom', splitter:true, minSize: 120, tabPosition: 'bottom'" data-dojo-type="dijit.layout.TabContainer">
                <div id="${id}LocalGraphWidget" title="Local" data-dojo-type="GraphWidget">
                    <div id="${id}LocalSync" data-dojo-attach-event="onClick:_onLocalSync" data-dojo-type="dijit.form.Button">Recalculate</div>
                </div>
                <div id="${id}Properties" title="Properties" data-dojo-type="dijit.layout.ContentPane">
                </div>
            </div>
        </div>
    </div>
</div>
