<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%" data-dojo-props="splitter: false" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}Toolbar" class="topPanel" style="padding: 0px; overflow: hidden" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
            <span data-dojo-type="dijit.ToolbarSeparator"></span>
        </div>
        <div id="${id}HexView" data-dojo-props="region: 'center', WUXml: true" data-dojo-type="ECLSourceWidget">
        </div>
    </div>
</div>
