<div class="${baseClass}">
    <div id="${id}BorderContainer" class="hpccMainpage" data-dojo-props="gutters:false, liveSplitters:false" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}Titlebar" class="hpccTitlebar" data-dojo-props="region: 'top'" data-dojo-type="dijit.layout.ContentPane">
            <div id="${id}StackController" class="left glow" data-dojo-props="containerId:'${id}TabContainer'" data-dojo-type="dijit.layout.StackController"></div>
            <div class="right">
                <div class="seperator grey"></div>
                <div id="search-form">
                    <input id="${id}FindText" class="roundForm" data-dojo-props="placeHolder: 'Wuid, User, More...'" data-dojo-type="dijit.form.TextBox" />
                    <button id="${id}Find" data-dojo-props="iconClass:'iconFind', showLabel: false" data-dojo-attach-event="onClick:_onFind" data-dojo-type="dijit.form.Button">Find</button>
                </div>
                <div class="seperator grey"></div>
                <div id="userAccount">
                    <span class="navBarLoggedin">logged in as:  </span>
                    <a id="${id}UserID" href="#"></a>
                </div>
                <div class="seperator grey"></div>
                <div id="${id}More" class="left glow" data-dojo-type="dijit.form.DropDownButton">
                    <span>
                        <img src="img/Info.png" alt="User" />
                    </span>
                    <div data-dojo-type="dijit.DropDownMenu">
                        <div id="${id}Legacy" data-dojo-attach-event="onClick:_onOpenLegacy" data-dojo-type="dijit.MenuItem">Open Legacy ECL Watch</div>
                        <span data-dojo-type="dijit.MenuSeparator"></span>
                        <div id="${id}About" data-dojo-attach-event="onClick:_onAbout" data-dojo-type="dijit.MenuItem">About</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="${id}TabContainer" style="width: 100%; height: 100%" data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.StackContainer">
            <div id="${id}_Main" data-dojo-props="iconClass: 'iconLogo'" data-dojo-type="HPCCPlatformMainWidget">
            </div>
            <div id="${id}_ECL" data-dojo-props="iconClass: 'iconWu', showLabel: false" data-dojo-type="HPCCPlatformECLWidget">
            </div>
            <div id="${id}_Files" data-dojo-props="iconClass: 'iconLandingZone'" data-dojo-type="HPCCPlatformFilesWidget">
            </div>
            <div id="${id}_Queries" data-dojo-props="iconClass: 'iconTargets'" data-dojo-type="HPCCPlatformRoxieWidget">
            </div>
            <div id="${id}_OPS" data-dojo-props="iconClass: 'iconOperations'" data-dojo-type="HPCCPlatformOpsWidget">
            </div>
        </div>
    </div>
</div>
