<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
            <div id="${id}Summary" style="width: 100%; height: 100%" data-dojo-props='title:"Summary", iconClass:"iconLogicalFile"' data-dojo-type="dijit.layout.BorderContainer">
                <div id="${id}Toolbar" class="topPanel" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
                    <div id="${id}Save" data-dojo-attach-event="onClick:_onSave" data-dojo-type="dijit.form.Button">Save</div>
                    <div id="${id}Delete" data-dojo-attach-event="onClick:_onDelete" data-dojo-type="dijit.form.Button">Delete</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Clone" data-dojo-attach-event="onClick:_onCopy" data-dojo-type="dijit.form.Button">Copy</div>
                    <div id="${id}Restart" data-dojo-attach-event="onClick:_onDespray" data-dojo-type="dijit.form.Button">Despray</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                </div>
                <div data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                    <h2>
                        <img class="iconAlign" src="img/folder_table.png" />&nbsp<span id="${id}LogicalFileName" class="bold">LogicalFileName</span>
                    </h2>
                    <form>
                        <ul>
                            <li> 
                                <label for="${id}Wuid">Workunit: </label>
                                <div id="${id}Wuid"></div>
                            </li>
                            <li> 
                                <label for="Owner">Owner: </label>
                                <div id="${id}Owner"></div>
                            </li>
                            <li> 
                                <label for="Description">Description: </label>
                                <div>
                                    <input id="${id}Description" data-dojo-props="trim:true" data-dojo-type="dijit.form.SimpleTextarea" cols="55"
                                    rows="4"/>
                                </div>
                            </li>                           
                            <li>
                                <label for="Job Name">Job Name:</label>
                                <div id="${id}JobName"></div>                         
                            </li>
                            <li>
                                <label for="Filesize">Filesize:</label>
                                <div id="${id}Filesize"></div>                         
                            </li>
                            <li>
                                <label for="Modification">Modification:</label>
                                <div id="${id}Modification"></div>                         
                            </li>
                            <li>
                                <label for="Directory">Directory:</label>
                                <div id="${id}Directory"></div>                         
                            </li>
                            <li>
                                <label for="Pathmask">Pathmask:</label>
                                <div id="${id}Pathmask"></div>                         
                            </li>
                            <li>
                                <label for="Record Size">Record Size:</label>
                                <div id="${id}RecordSize"></div>                         
                            </li>
                            <li>
                                <label for="Record Count">Record Count:</label>
                                <div id="${id}Count"></div>                         
                            </li> 
                        </ul>
                    </form>                                   
                </div>
            </div>
            <div id="${id}Content" title="Contents" data-dojo-type="ResultWidget">
            </div>
            <div id="${id}Source" title="ECL" data-dojo-type="ECLSourceWidget">
            </div>
            <div id="${id}DEF" title="DEF" data-dojo-type="ECLSourceWidget">
            </div>
            <div id="${id}XML" title="XML" data-dojo-props="WUXml: true" data-dojo-type="ECLSourceWidget">
            </div>
            <div id="${id}FileParts" title="File Parts" data-dojo-type="FilePartsWidget">
            </div>
            <div id="${id}Workunit" title="Workunit" data-dojo-type="WUDetailsWidget">
            </div>
            <div id="${id}DFUWorkunit" title="Workunit" data-dojo-type="DFUWUDetailsWidget">
            </div>
            <div id="${id}Legacy" title="Legacy Web Page" data-dojo-type="dijit.layout.ContentPane">
            </div>
        </div>
    </div>
</div>
