<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
            <div id="${id}_Summary" style="width: 100%; height: 100%" data-dojo-props='title:"Summary", iconClass:"iconLogicalFile"' data-dojo-type="dijit.layout.BorderContainer">
                <div id="${id}Toolbar" class="topPanel" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
                    <div id="${id}Refresh" data-dojo-attach-event="onClick:_onRefresh" data-dojo-props="iconClass:'iconRefresh'" data-dojo-type="dijit.form.Button">Refresh</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Save" data-dojo-attach-event="onClick:_onSave" data-dojo-type="dijit.form.Button">Save</div>
                    <div id="${id}Delete" data-dojo-attach-event="onClick:_onDelete" data-dojo-type="dijit.form.Button">Delete</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}CopyDropDown" data-dojo-type="dijit.form.DropDownButton">
                        <span>Copy</span>
                        <div data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}CopyDialog" data-dojo-type="dijit.form.Form" style="width: 460px;">
                                <h2>Source</h2>
                                <div data-dojo-props="cols:2" data-dojo-type="dojox.layout.TableContainer">
                                    <input id="${id}CopySourceName" title="Logical&nbsp;File:" style="width: 100%;" name="sourceLogicalName" colspan="2" data-dojo-props="trim: true, readonly: true" data-dojo-type="dijit.form.Textarea" />
                                </div>
                                <h2>Target</h2>
                                <div data-dojo-props="cols:2" data-dojo-type="dojox.layout.TableContainer">
                                    <input id="${id}CopyTargetSelect" title="Group:" name="destGroup" colspan="2" style="width:100%;" data-dojo-type="TargetSelectWidget" style="display: inline-block; vertical-align: middle" />
                                    <input id="${id}CopyTargetName"  title="Logical&nbsp;File:" name="destLogicalName" colspan="2" data-dojo-props="trim: true" data-dojo-type="dijit.form.Textarea" />
                                    <input id="${id}CopyTargetWrap" title="Wrap:" name="Wrap" data-dojo-type="dijit/form/CheckBox" />
                                    <input id="${id}CopyTargetNoSplit" title="No&nbsp;Split:" name="nosplit" data-dojo-type="dijit/form/CheckBox" />
                                    <input id="${id}CopyTargetOverwrite" title="Overwrite:" name="overwrite" data-dojo-type="dijit/form/CheckBox" />
                                    <input id="${id}CopyTargetCompress" title="Compress:" name="compress" data-dojo-type="dijit/form/CheckBox" />
                                    <input id="${id}CopyTargetRetainSuperfileStructure" title="Retain&nbsp;Superfile&nbsp;Structure:" name="superCopy" colspan="2" data-dojo-type="dijit/form/CheckBox" />
                                </div>
                                <button data-dojo-attach-event="onClick:_onCopyOk" data-dojo-type="dijit.form.Button">Copy</button>
                                <button data-dojo-attach-event="onClick:_onCopyCancel" data-dojo-type="dijit.form.Button">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div id="${id}RenameDropDown" data-dojo-type="dijit.form.DropDownButton">
                        <span>Rename</span>
                        <div data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}RenameDialog" style="width: 460px;" data-dojo-type="dijit.form.Form">
                                <h2>Source</h2>
                                <div data-dojo-props="cols:2" data-dojo-type="dojox.layout.TableContainer">
                                    <input id="${id}RenameSourceName" title="Logical&nbsp;File:" style="width: 100%;" name="RenameSourceName" colspan="2" data-dojo-props="trim: true, readonly: true" data-dojo-type="dijit.form.Textarea" />
                                </div>
                                <h2>Target</h2>
                                <div data-dojo-props="cols:2" data-dojo-type="dojox.layout.TableContainer">
                                    <input id="${id}RenameTargetName" title="Logical&nbsp;File:" style="width: 100%;" name="dstname" colspan="2" data-dojo-props="trim: true" data-dojo-type="dijit.form.Textarea" />
                                    <input id="${id}RenameTargetOverwrite" title="Overwrite:" name="overwrite" colspan="2" data-dojo-type="dijit.form.CheckBox" />
                                </div>
                                <button data-dojo-attach-event="onClick:_onRenameOk" data-dojo-type="dijit.form.Button">Rename</button>
                                <button data-dojo-attach-event="onClick:_onRenameCancel" data-dojo-type="dijit.form.Button">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div id="${id}DesprayDropDown" data-dojo-type="dijit.form.DropDownButton">
                        <span>Despray</span>
                        <div data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}DesprayDialog" style="width: 460px;" data-dojo-type="dijit.form.Form">
                                <h2>Source</h2>
                                <div data-dojo-props="cols:2" data-dojo-type="dojox.layout.TableContainer">
                                    <input id="${id}DespraySourceName" title="Logical&nbsp;File:" style="width: 100%;" name="DespraySourceName" colspan="2" data-dojo-props="trim: true, readonly: true" data-dojo-type="dijit.form.Textarea" />
                                </div>
                                <h2>Target</h2>
                                <div data-dojo-props="cols:2" data-dojo-type="dojox.layout.TableContainer">
                                    <input id="${id}DesprayTargetSelect" title="Drop&nbsp;Zone:" name="destGroup" colspan="2" style="width: 100%;" data-dojo-type="TargetSelectWidget" />
                                    <input id="${id}DesprayTargetIPAddress" title="IP&nbsp;Address:" name="destIP" colspan="2" data-dojo-props="trim: true" data-dojo-type="dijit.form.TextBox" />
                                    <input id="${id}DesprayTargetPath" title="Path:" name="destPath" colspan="2" data-dojo-props="trim: true" data-dojo-type="dijit.form.Textarea" />
                                    <input id="${id}DesprayTargetSplitPrefix" title="Split&nbsp;Prefix:" name="splitprefix" colspan="2" data-dojo-props="trim: true" data-dojo-type="dijit.form.TextBox" />
                                    <input id="${id}DesprayTargetUseSingleConnection" title="Use&nbsp;Single&nbsp;Connection:" name="SingleConnection" colspan="2" data-dojo-type="dijit.form.CheckBox" />
                                    <input id="${id}DesprayTargetOverwrite" title="Overwrite:" name="overwrite" colspan="2" data-dojo-type="dijit.form.CheckBox" />
                                </div>
                                <button data-dojo-attach-event="onClick:_onDesprayOk" data-dojo-type="dijit.form.Button">Despray</button>
                                <button data-dojo-attach-event="onClick:_onDesprayCancel" data-dojo-type="dijit.form.Button">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                    <h2>
                        <img class="iconAlign" src="img/folder_table.png" />&nbsp<span id="${id}Name" class="bold"></span>
                    </h2>
                    <form id="${id}SummaryForm" class="leftAlignFields">
                        <ul>
                            <li>
                                <label for="${id}Wuid">Workunit: </label>
                                <div id="${id}Wuid"></div>
                            </li>
                            <li>
                                <label for="${id}Owner">Owner: </label>
                                <div id="${id}Owner"></div>
                            </li>
                            <li>
                                <label for="${id}ClusterName">Cluster Name: </label>
                                <div id="${id}ClusterName"></div>
                            </li>
                            <li>
                                <label for="${id}Description">Description: </label>
                                <input id="${id}Description" data-dojo-props="trim:true" data-dojo-type="dijit.form.SimpleTextarea" cols="55" rows="4" />
                            </li>
                            <li>
                                <label for="${id}JobName">Job Name: </label>
                                <div id="${id}JobName"></div>
                            </li>
                            <li>
                                <label for="${id}Filesize">File Size: </label>
                                <div id="${id}Filesize"></div>
                            </li>
                            <li>
                                <label for="${id}ActualSize">Actual Size: </label>
                                <div id="${id}ActualSize"></div>
                            </li>
                            <li>
                                <label for="${id}Modification">Modification: </label>
                                <div id="${id}Modification"></div>
                            </li>
                            <li>
                                <label for="${id}Directory">Directory: </label>
                                <div id="${id}Directory"></div>
                            </li>
                            <li>
                                <label for="${id}PathMask">Path Mask: </label>
                                <div id="${id}PathMask"></div>
                            </li>
                            <li>
                                <label for="${id}RecordSize">Record Size: </label>
                                <div id="${id}RecordSize"></div>
                            </li>
                            <li>
                                <label for="${id}Count">Record Count: </label>
                                <div id="${id}Count"></div>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <div id="${id}_Content" title="Contents" data-dojo-type="ResultWidget">
            </div>
            <div id="${id}_Source" title="ECL" data-dojo-type="ECLSourceWidget">
            </div>
            <div id="${id}_DEF" title="DEF" data-dojo-type="ECLSourceWidget">
            </div>
            <div id="${id}_XML" title="XML" data-dojo-props="WUXml: true" data-dojo-type="ECLSourceWidget">
            </div>
            <div id="${id}_FileParts" title="File Parts" data-dojo-type="FilePartsWidget">
            </div>
            <div id="${id}_Workunit" title="Workunit" data-dojo-type="WUDetailsWidget">
            </div>
            <div id="${id}_DFUWorkunit" title="Workunit" data-dojo-type="DFUWUDetailsWidget">
            </div>
        </div>
    </div>
</div>
