<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%" data-dojo-props="splitter: false"data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}Toolbar" class="topPanel" style="padding: 0px; overflow: hidden" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
            <span class="bold">Download:</span>
            <div data-dojo-attach-event="onClick:_onDownload" data-dojo-type="dijit.form.Button">File</div>
            <div data-dojo-attach-event="onClick:_onDownloadZip" data-dojo-type="dijit.form.Button">Zip</div>
            <div data-dojo-attach-event="onClick:_onDownloadGZip" data-dojo-type="dijit.form.Button">GZip</div>
            <span data-dojo-type="dijit.ToolbarSeparator"></span>
        </div>
        <div id="${id}CenterPane" style="padding: 0px; overflow: hidden" data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
        </div>
    </div>
</div>
