<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%;" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
            <div id="${id}_LandingZones" style="width: 100%; height: 100%" data-dojo-props="title:'${i18n.title}'" data-dojo-type="dijit.layout.BorderContainer">
                <div id="${id}Toolbar" class="topPanel" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
                    <div id="${id}Refresh" data-dojo-attach-event="onClick:_onRefresh" data-dojo-props="iconClass:'iconRefresh'" data-dojo-type="dijit.form.Button">${i18n.Refresh}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}HexPreview" data-dojo-attach-event="onClick:_onHexPreview" data-dojo-type="dijit.form.Button">${i18n.HexPreview}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <input id="${id}Upload" label="${i18n.Upload}" type="file" data-dojo-attach-event="onChange:_onUpload" data-dojo-props='multiple: true' data-dojo-type="dojox.form.Uploader"/>
                    <div id="${id}Download" data-dojo-attach-event="onClick:_onDownload" data-dojo-type="dijit.form.Button">${i18n.Download}</div>
                    <div id="${id}Delete" data-dojo-attach-event="onClick:_onDelete" data-dojo-type="dijit.form.Button">${i18n.Delete}</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <b>${i18n.Spray}:</b>
                    <div id="${id}SprayFixedDropDown" data-dojo-type="dijit.form.DropDownButton">
                        <span>${i18n.Fixed}</span>
                        <div data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}SprayFixedForm" style="width: 530px;" onsubmit="return false;" data-dojo-type="dijit.form.Form">
                                <div data-dojo-props="cols:2" data-dojo-type="hpcc.TableContainer">
                                    <input id="${id}SprayFixedDestination" title="${i18n.Group}:" style="width: 95%;" name="destGroup" colspan="2" data-dojo-type="TargetSelectWidget" />
                                    <input id="${id}SprayFixedDestinationNamePrefix" title="${i18n.NamePrefix}:" style="width: 95%;" name="namePrefix" colspan="2" data-dojo-props="trim: true, placeHolder:'${i18n.NamePrefixPlaceholder}'" data-dojo-type="dijit.form.TextBox" />
                                    <input title="${i18n.Overwrite}:" name="overwrite" data-dojo-type="dijit.form.CheckBox" />
                                    <input title="${i18n.NoSplit}:" name="nosplit" data-dojo-type="dijit.form.CheckBox" />
                                    <input title="${i18n.Compress}:" name="compress" data-dojo-type="dijit.form.CheckBox" />
                                </div>
                                <div style="width: 100%; height: 280px" data-dojo-props="splitter: false" data-dojo-type="dijit.layout.BorderContainer">
                                    <div style="border:0px; padding: 0px; border-color:none" data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                                        <div id="${id}SprayFixedGrid">
                                        </div>
                                    </div>
                                </div>
                                <div class="dijitDialogPaneActionBar">
                                    <button type="submit" data-dojo-attach-event="onClick:_onSprayFixed" data-dojo-type="dijit.form.Button">${i18n.Spray}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="${id}SprayVariableDropDown" data-dojo-type="dijit.form.DropDownButton">
                        <span>${i18n.Delimited}</span>
                        <div data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}SprayVariableForm" style="width: 530px;" onsubmit="return false;" data-dojo-type="dijit.form.Form">
                                <div data-dojo-props="cols:2" data-dojo-type="hpcc.TableContainer">
                                    <input id="${id}SprayVariableDestination" title="${i18n.Group}:" style="width: 95%;" name="destGroup" colspan="2" data-dojo-type="TargetSelectWidget" />
                                    <input title="${i18n.NamePrefix}:" style="width: 95%;" name="namePrefix" colspan="2" data-dojo-props="trim: true, placeHolder:'${i18n.NamePrefixPlaceholder}'" data-dojo-type="dijit.form.TextBox" />
                                    <select id="${id}sourceFormat" title="${i18n.Format}:" name="sourceFormat" colspan="2" data-dojo-type="dijit/form/Select">
                                        <option value="1">ASCII</option>
                                        <option value="2">UTF-8</option>
                                        <option value="3">UTF-8N</option>
                                        <option value="4">UTF-16</option>
                                        <option value="5">UTF-16LE</option>
                                        <option value="6">UTF-16BE</option>
                                        <option value="7">UTF-32</option>
                                        <option value="8">UTF-32LE</option>
                                        <option value="9">UTF-32BE</option>
                                    </select>
                                    <input id="${id}SprayVariableMaxRecordLength" title="${i18n.MaxRecordLength}:" style="width: 95%;" name="sourceMaxRecordSize" value="8192" required="true" colspan="2" data-dojo-props="trim: true, placeHolder:'8192'" data-dojo-type="dijit.form.ValidationTextBox" />
                                    <input id="${id}SprayVariableSeperators" title="${i18n.Seperators}:" style="width: 95%;" name="sourceCsvSeparate" value="," data-dojo-props="trim: true, placeHolder:'\,'" colspan="2" data-dojo-type="dijit.form.ValidationTextBox" />
                                    <input title="${i18n.OmitSeparator}:" name="NoSourceCsvSeparator" colspan="2" data-dojo-type="dijit.form.CheckBox" />
                                    <input id="${id}SprayVariableEscape" title="${i18n.Escape}:" style="width: 95%;" name="sourceCsvEscape" data-dojo-props="trim: true" colspan="2" data-dojo-type="dijit.form.TextBox" />
                                    <input id="${id}SprayVariableTerminators" title="${i18n.LineTerminators}:" name="sourceCsvTerminate" style="width: 95%;" value="\n,\r\n" required="true" colspan="2" data-dojo-props="trim: true, placeHolder:'\\n,\\r\\n'" data-dojo-type="dijit.form.ValidationTextBox" />
                                    <input id="${id}SprayVariableQuote" title="${i18n.Quote}:" style="width: 95%;" name="sourceCsvQuote" value="'" data-data-dojo-props="trim: true, placeHolder:'\''" colspan="2" data-dojo-type="dijit.form.TextBox" />
                                    <input title="${i18n.Overwrite}:" name="overwrite" data-dojo-type="dijit.form.CheckBox" />
                                    <input title="${i18n.NoSplit}:" name="nosplit" data-dojo-type="dijit.form.CheckBox" />
                                    <input title="${i18n.Compress}:" name="compress" data-dojo-type="dijit.form.CheckBox" />
                                </div>
                                <div style="width: 100%; height: 280px" data-dojo-props="splitter: false" data-dojo-type="dijit.layout.BorderContainer">
                                    <div style="border:0px; padding: 0px; border-color:none" data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                                        <div id="${id}SprayVariableGrid">
                                        </div>
                                    </div>
                                </div>
                                <div class="dijitDialogPaneActionBar">
                                    <button type="submit" data-dojo-attach-event="onClick:_onSprayVariable" data-dojo-type="dijit.form.Button">${i18n.Spray}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="${id}SprayXmlDropDown" data-dojo-type="dijit.form.DropDownButton">
                        <span>${i18n.XML}</span>
                        <div data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}SprayXmlForm" style="width: 530px;" data-dojo-type="dijit.form.Form">
                                <div data-dojo-props="cols:2" data-dojo-type="hpcc.TableContainer">
                                    <input id="${id}SprayXmlDestinationSelect" title="${i18n.Group}:" style="width: 95%;" name="destGroup" colspan="2" data-dojo-type="TargetSelectWidget" />
                                    <input title="${i18n.NamePrefix}:" style="width: 95%;" name="namePrefix" data-dojo-props="trim: true, placeHolder:'${i18n.NamePrefixPlaceholder}'" colspan="2" data-dojo-type="dijit.form.TextBox" />
                                    <select id="${id}xmlsourceFormat" title="${i18n.Format}:" name="sourceFormat" colspan="2" data-dojo-type="dijit/form/Select">
                                        <option value="1">ASCII</option>
                                        <option value="2">UTF-8</option>
                                        <option value="3">UTF-8N</option>
                                        <option value="4">UTF-16</option>
                                        <option value="5">UTF-16LE</option>
                                        <option value="6">UTF-16BE</option>
                                        <option value="7">UTF-32</option>
                                        <option value="8">UTF-32LE</option>
                                        <option value="9">UTF-32BE</option>
                                    </select>
                                    <input id="${id}SprayXmlMaxRecordLength" title="${i18n.MaxRecordLength}:" value="8192" style="width: 95%;" name="sourceMaxRecordSize" required="true" colspan="2" data-dojo-props="trim: true, placeHolder:'8192'" data-dojo-type="dijit.form.ValidationTextBox" />
                                    <input id="${id}SprayXmlRowTag" title="${i18n.RowTag}:" style="width: 95%;" name="sourceRowTag" required="true" data-dojo-props="trim: true, placeHolder:'${i18n.tag}'" colspan="2" data-dojo-type="dijit.form.ValidationTextBox" />
                                    <input title="${i18n.Overwrite}:" name="overwrite" data-dojo-type="dijit.form.CheckBox" />
                                    <input title="${i18n.NoSplit}:" name="nosplit" data-dojo-type="dijit.form.CheckBox" />
                                    <input title="${i18n.Compress}:" name="compress" data-dojo-type="dijit.form.CheckBox" />
                                </div>
                                <div style="width: 100%; height: 280px" data-dojo-props="splitter: false" data-dojo-type="dijit.layout.BorderContainer">
                                    <div style="border:0px; padding: 0px; border-color:none" data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                                        <div id="${id}SprayXMLGrid">
                                        </div>
                                    </div>
                                </div>
                                <div class="dijitDialogPaneActionBar">
                                    <button data-dojo-attach-event="onClick:_onSprayXml" data-dojo-type="dijit.form.Button">${i18n.Spray}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="${id}SprayRECFMDropDown" data-dojo-type="dijit.form.DropDownButton">
                        <span>${i18n.RECFM}</span>
                        <div data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}SprayRECFMForm" style="width: 530px;" onsubmit="return false;" data-dojo-type="dijit.form.Form">
                                <div data-dojo-props="cols:2" data-dojo-type="hpcc.TableContainer">
                                    <input id="${id}SprayRECFMDestination" title="${i18n.Group}:" style="width: 95%;" name="destGroup" colspan="2" data-dojo-type="TargetSelectWidget" />
                                    <input title="${i18n.NamePrefix}:" style="width: 95%;" name="namePrefix" data-dojo-props="trim: true, placeHolder:'${i18n.NamePrefixPlaceholder}'" colspan="2" data-dojo-type="dijit.form.TextBox" />
                                    <select id="${id}SpraySourceSelect" title="${i18n.RECFMSourceType}:" name="sourceFormat" colspan="2" data-dojo-type="dijit/form/Select">
                                        <option value="recfmv" selected="true">recfmv</option>
                                        <option value="recfmvb">recfmvb</option>
                                    </select>
                                    <input title="${i18n.RECFMPrefix}:" style="width: 95%;" name="prefix" data-dojo-props="trim: true, placeHolder:'${i18n.PrefixPlaceholder}'" colspan="2" data-dojo-type="dijit.form.TextBox" />
                                    <input title="${i18n.Overwrite}:" name="overwrite" data-dojo-type="dijit.form.CheckBox" />
                                    <input title="${i18n.NoSplit}:" name="nosplit" data-dojo-type="dijit.form.CheckBox" />
                                    <input title="${i18n.Compress}:" name="compress" data-dojo-type="dijit.form.CheckBox" />
                                </div>
                                <div style="width: 100%; height: 280px" data-dojo-props="splitter: false" data-dojo-type="dijit.layout.BorderContainer">
                                    <div style="border:0px; padding: 0px; border-color:none" data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                                        <div id="${id}SprayRECFMGrid">
                                        </div>
                                    </div>
                                </div>
                                <div class="dijitDialogPaneActionBar">
                                    <button type="submit" data-dojo-attach-event="onClick:_onSprayRECFM" data-dojo-type="dijit.form.Button">${i18n.Spray}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}NewPage" class="right" data-dojo-attach-event="onClick:_onNewPage" data-dojo-props="iconClass:'iconNewPage', showLabel:false" data-dojo-type="dijit.form.Button">${i18n.OpenInNewPage}</div>
                </div>
                <div id="${id}LandingZonesGridCP" style="border:0px; padding: 0px; border-color:none" data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                    <div id="${id}LandingZonesGrid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="${id}FileListDialog" title="${i18n.FileUploader}" data-dojo-type="dijit.Dialog">
        <div class="dijitDialogPaneContentArea">
            <div data-dojo-props="cols:1" data-dojo-type="hpcc.TableContainer">
                <input id="${id}DropZoneTargetSelect" title="${i18n.LandingZone}:" style="width: 95%;" data-dojo-type="TargetSelectWidget" />
            </div>
            <p>
            <div id="${id}UploadFileList" class="dijitDialogPaneContentArea" data-dojo-props="uploaderId: '${id}Upload'" data-dojo-type="dojox.form.uploader.FileList"></div>
            </p>
        </div>
        <div class="dijitDialogPaneActionBar">
            <button id="${id}FileListDialogUpload" data-dojo-attach-event="onClick:_onUploadSubmit" data-dojo-type="dijit.form.Button">${i18n.Start}</button>
            <button id="${id}FileListDialogCancel" type="button" data-dojo-attach-event="onClick:_onUploadCancel" data-dojo-type="dijit.form.Button">${i18n.Close}</button>
        </div>
    </div>
</div>
