<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%;" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
            <div id="${id}_LandingZones" style="width: 100%; height: 100%" data-dojo-props='title:"Landing Zone Files"' data-dojo-type="dijit.layout.BorderContainer">
                <div id="${id}Toolbar" class="topPanel" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
                    <div id="${id}Refresh" data-dojo-attach-event="onClick:_onRefresh" data-dojo-props="iconClass:'iconRefresh'" data-dojo-type="dijit.form.Button">Refresh</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}HexPreview" data-dojo-attach-event="onClick:_onHexPreview" data-dojo-type="dijit.form.Button">Hex Preview</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <input id="${id}Upload" label="Upload" type="file" data-dojo-attach-event="onChange:_onUpload" data-dojo-props='multiple: true' data-dojo-type="dojox.form.Uploader"/>
                    <div id="${id}Download" data-dojo-attach-event="onClick:_onDownload" data-dojo-type="dijit.form.Button">Download</div>
                    <div id="${id}Delete" data-dojo-attach-event="onClick:_onDelete" data-dojo-type="dijit.form.Button">Delete</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <b>Spray:</b>
                    <div id="${id}SprayFixedDropDown" data-dojo-type="dijit.form.DropDownButton">
                        <span>Fixed</span>
                        <div data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}SprayFixedDialog" style="width: 530px;" onsubmit="return false;" data-dojo-type="dijit.form.Form">
                                <h2>Source</h2>
                                <div data-dojo-props="cols:2" data-dojo-type="dojox.layout.TableContainer">
                                    <select id="${id}SpraySourceSelect" title="Spray&nbsp;Source&nbsp;Type:" name="sourceFormat" data-dojo-type="dijit/form/Select">
                                        <option value="Fixed" selected="true">Fixed</option>
                                        <option value="Recfmv">Recfmv</option>
                                        <option value="Recfmvb">Recfmvb</option>
                                        <option value="Variable">Variable</option>
                                    </select>
                                    <input id="${id}SprayFixedRecordLength" title="Record&nbsp;Length:" style="width: 95%;" name="sourceRecordSize" colspan="2" data-dojo-props="trim: true" data-dojo-type="dijit.form.ValidationTextBox" />
                                </div>
                                <h2>Destination</h2>
                                <div data-dojo-props="cols:2" data-dojo-type="dojox.layout.TableContainer">
                                    <input id="${id}SprayFixedDestination" title="Group:" style="width: 95%;" name="destGroup" colspan="2" data-dojo-type="TargetSelectWidget" />
                                    <input id="${id}SprayFixedDestinationLabel" title="Label:" style="width: 95%;" name="destLogicalName" colspan="2" required="true" data-dojo-props="trim: true" data-dojo-type="dijit.form.ValidationTextBox" />
                                    <input id="${id}SprayFixedDestinationMask" title="Mask:" style="width: 95%;" colspan="2" data-dojo-props="trim: true, readonly: true"  data-dojo-type="dijit.form.TextBox" />
                                    <input id="${id}SprayFixedDestinationPrefix" title="Prefix:" style="width: 95%;" name="prefix" colspan="2" data-dojo-type="dijit.form.TextBox" />
                                </div>
                                <h2>Options</h2>
                                <div data-dojo-props="cols:2" data-dojo-type="dojox.layout.TableContainer">
                                    <input title="Overwrite:" name="overwrite" colspan="2" data-dojo-type="dijit.form.CheckBox" />
                                    <input title="No&nbsp;Split:" name="nosplit" colspan="2" data-dojo-type="dijit.form.CheckBox" />
                                    <input title="Compress:" name="compress" colspan="2" data-dojo-type="dijit.form.CheckBox" />
                                </div>
                                <div class="dijitDialogPaneActionBar">
                                    <button type="submit" data-dojo-attach-event="onClick:_onSprayFixed" data-dojo-type="dijit.form.Button">Spray</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="${id}SprayVariableDropDown" data-dojo-type="dijit.form.DropDownButton">
                        <span>Delimited</span>
                        <div data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}SprayVariableDialog" style="width: 530px;" onsubmit="return false;" data-dojo-type="dijit.form.Form">
                                <h2>Source</h2>
                                <div data-dojo-props="cols:2" data-dojo-type="dojox.layout.TableContainer">
                                    <select id="${id}sourceFormat" title="Format:" name="sourceFormat" data-dojo-type="dijit/form/Select">
                                        <option value="1">ASCII</option>
                                        <option value="2">UTF-8</option>
                                        <option value="3">UTF-8N</option>
                                        <option value="4">UTF-16</option>
                                        <option value="5">UTF-16LE</option>
                                        <option value="6">UTF-16BE</option>
                                        <option value="7">UTF-32</option>
                                        <option value="8">UTF-32LE</option>
                                        <option value="9">UTF-32BE</option>
                                    </select>
                                    <input id="${id}SprayVariableMaxRecordLength" title="Max&nbsp;Record&nbsp;Length:" style="width: 95%;" name="sourceMaxRecordSize" value="8192" colspan="2" required="true" data-dojo-props="trim: true, placeHolder:'8192'" data-dojo-type="dijit.form.ValidationTextBox" />
                                    <input id="${id}SprayVariableSeperators" title="Seperators:" style="width: 95%;" name="sourceSeparators" value="," colspan="2" data-dojo-props="trim: true, placeHolder:'\,'" data-dojo-type="dijit.form.ValidationTextBox" />
                                    <input title="No&nbsp;Separator?" name="NoSourceSeparator" colspan="2" data-dojo-type="dijit.form.CheckBox" />
                                    <input id="${id}SprayVariableEscape" title="Escape:" style="width: 95%;" name="sourceEscape" colspan="2" data-dojo-props="trim: true" data-dojo-type="dijit.form.TextBox" />
                                    <input id="${id}SprayVariableTerminators" title="Line&nbsp;Terminators:" name="sourceTerminators"  style="width: 95%;" value="\n,\r\n" colspan="2" required="true" data-dojo-props="trim: true, placeHolder:'\\n,\\r\\n'" data-dojo-type="dijit.form.ValidationTextBox" />
                                    <input id="${id}SprayVariableQuote" title="Quote:" style="width: 95%;" name="sourceQuote" value="'" colspan="2" data-data-dojo-props="trim: true, placeHolder:'\''" data-dojo-type="dijit.form.TextBox" />
                                </div>
                                <h2>Destination</h2>
                                <div data-dojo-props="cols:2" data-dojo-type="dojox.layout.TableContainer">
                                    <input id="${id}SprayVariableDestination" title="Group:" style="width: 95%;" name="destGroup" colspan="2" data-dojo-type="TargetSelectWidget" />
                                    <input title="Label:" style="width: 95%;" name="destLogicalName" colspan="2" data-dojo-props="trim: true" required="true" data-dojo-type="dijit.form.ValidationTextBox" />
                                    <input title="Mask:" style="width: 95%;" colspan="2" data-dojo-type="dijit.form.TextBox" />
                                    <input title="Prefix:" style="width: 95%;" name="prefix" colspan="2" data-dojo-type="dijit.form.TextBox" />
                                </div>
                                <h2>Options</h2>
                                <div data-dojo-props="cols:2" data-dojo-type="dojox.layout.TableContainer">
                                    <input title="Overwrite:" name="overwrite" colspan="2" data-dojo-type="dijit.form.CheckBox" />
                                    <input title="No&nbsp;Split:" name="nosplit" colspan="2" data-dojo-type="dijit.form.CheckBox" />
                                    <input title="Compress:" name="compress" colspan="2" data-dojo-type="dijit.form.CheckBox" />
                                </div>
                                <div class="dijitDialogPaneActionBar">
                                    <button type="submit" data-dojo-attach-event="onClick:_onSprayVariable" data-dojo-type="dijit.form.Button">Spray </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="${id}SprayXmlDropDown" data-dojo-type="dijit.form.DropDownButton">
                        <span>XML</span>
                        <div data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}SprayXmlDialog" style="width: 530px;" data-dojo-type="dijit.form.Form">
                                <h2>Source</h2>
                                <div data-dojo-props="cols:2" data-dojo-type="dojox.layout.TableContainer">
                                    <select id="${id}xmlsourceFormat" title="Format:" name="sourceFormat" data-dojo-type="dijit/form/Select">
                                        <option value="1">ASCII</option>
                                        <option value="2">UTF-8</option>
                                        <option value="3">UTF-8N</option>
                                        <option value="4">UTF-16</option>
                                        <option value="5">UTF-16LE</option>
                                        <option value="6">UTF-16BE</option>
                                        <option value="7">UTF-32</option>
                                        <option value="8">UTF-32LE</option>
                                        <option value="9">UTF-32BE</option>
                                    </select>
                                    <input id="${id}SprayXmlMaxRecordLength" title="Max&nbsp;Record&nbsp;Length:" value="8192" style="width: 95%;" name="sourceMaxRecordSize" colspan="2" required="true" data-dojo-props="trim: true, placeHolder:'8192'" data-dojo-type="dijit.form.ValidationTextBox" />
                                    <input id="${id}SprayXmlRowTag" title="Row&nbsp;Tag:" style="width: 95%;" name="sourceRowTag" colspan="2" required="true" data-dojo-props="trim: true, placeHolder:'tag'" data-dojo-type="dijit.form.ValidationTextBox" />
                                </div>
                                <h2>Destination</h2>
                                <div data-dojo-props="cols:2" data-dojo-type="dojox.layout.TableContainer">
                                    <input id="${id}SprayXmlDestinationSelect" title="Group:" style="width: 95%;" name="destGroup" colspan="2" data-dojo-type="TargetSelectWidget" />
                                    <input title="Label:" style="width: 95%;" name="destLogicalName" colspan="2" data-dojo-props="trim: true" required="true" data-dojo-type="dijit.form.ValidationTextBox" />
                                    <input title="Mask:" style="width: 95%;" colspan="2" data-dojo-type="dijit.form.TextBox" />
                                    <input title="Prefix:" style="width: 95%;" name="prefix" colspan="2" data-dojo-type="dijit.form.TextBox" />
                                </div>
                                <h2>Options</h2>
                                <div data-dojo-props="cols:2" data-dojo-type="dojox.layout.TableContainer">
                                    <input title="Overwrite:" name="overwrite" colspan="2" data-dojo-type="dijit.form.CheckBox" />
                                    <input title="No&nbsp;Split:" name="nosplit" colspan="2" data-dojo-type="dijit.form.CheckBox" />
                                    <input title="Compress:" name="compress" colspan="2" data-dojo-type="dijit.form.CheckBox" />
                                </div>
                                <div class="dijitDialogPaneActionBar">
                                    <button data-dojo-attach-event="onClick:_onSprayXml" data-dojo-type="dijit.form.Button">Spray</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}NewPage" class="right" data-dojo-attach-event="onClick:_onNewPage" data-dojo-props="iconClass:'iconNewPage', showLabel:false" data-dojo-type="dijit.form.Button">Open in New Page</div>
                </div>
                <div id="${id}LandingZonesGridCP" style="border:0px; padding: 0px; border-color:none" data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                    <div id="${id}LandingZonesGrid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="${id}FileListDialog" title="File Uploader" data-dojo-type="dijit.Dialog">
        <div class="dijitDialogPaneContentArea">
            <div data-dojo-props="cols:2" data-dojo-type="dojox.layout.TableContainer">
                <input id="${id}DropZoneTargetSelect" title="Landing Zone:" style="width: 95%;" colspan="2" data-dojo-type="TargetSelectWidget" />
            </div>
            <p>
            <div id="${id}UploadFileList" class="dijitDialogPaneContentArea" data-dojo-props="uploaderId: '${id}Upload'" data-dojo-type="dojox.form.uploader.FileList"></div>
            </p>
        </div>
        <div class="dijitDialogPaneActionBar">
            <button id="${id}FileListDialogUpload" data-dojo-attach-event="onClick:_onUploadSubmit" data-dojo-type="dijit.form.Button">Start</button>
            <button id="${id}FileListDialogCancel" type="button" data-dojo-attach-event="onClick:_onUploadCancel" data-dojo-type="dijit.form.Button">Close</button>
        </div>
    </div>
</div>
