<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%;" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
            <div id="${id}_SOAP" title="SOAP" data-dojo-type="dijit.layout.ContentPane">
            </div>
            <div id="${id}_JSON" title="JSON" data-dojo-type="dijit.layout.ContentPane">
            </div>
            <div id="${id}_WSDL" title="WSDL" data-dojo-type="dijit.layout.ContentPane">
            </div>
            <div id="${id}_RequestSchema" title="Request Schema" data-dojo-type="dijit.layout.ContentPane">
            </div>
            <div id="${id}_ResponseSchemaBorder" title="Response Schema" style="width: 100%; height: 100%;" data-dojo-type="dijit.layout.BorderContainer">
                <div id="${id}ResponseSchema" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
                </div>
            </div>
            <div id="${id}_Request" title="Sample Request" data-dojo-type="dijit.layout.ContentPane">
            </div>
            <div id="${id}_Response" title="Sample Response" data-dojo-type="dijit.layout.ContentPane">
            </div>
            <div id="${id}_ParamXML" title="Parameter XML" data-dojo-type="dijit.layout.ContentPane">
            </div>
            <div id="${id}_Form" title="Legacy Form" data-dojo-type="dijit.layout.ContentPane">
            </div>
            <div id="${id}_Links" title="Links" data-dojo-type="dijit.layout.ContentPane">
            </div>
        </div>
    </div>
</div>