<div class="${baseClass}">
	<div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.BorderContainer">
		<div id="${id}TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
			<div id="${id}_PublishedQueries" style="width: 100%; height: 100%" data-dojo-props="title:'${i18n.title}', iconClass:'iconCluster'" data-dojo-type="dijit.layout.BorderContainer">
				<div id="${id}QueryToolbar" class="topPanel" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
					<div id="${id}Refresh" data-dojo-attach-event="onClick:_onRefresh" data-dojo-type="dijit.form.Button" data-dojo-props='iconClass:"iconRefresh"'>${i18n.Refresh}</div>
					<span data-dojo-type="dijit.ToolbarSeparator"></span>
					<div id="${id}Open" data-dojo-attach-event="onClick:_onOpen" data-dojo-type="dijit.form.Button">${i18n.Open}</div>
					<div id="${id}Delete" data-dojo-attach-event="onClick:_onDelete" data-dojo-type="dijit.form.Button">${i18n.Delete}</div>
					<span data-dojo-type="dijit.ToolbarSeparator"></span>
					<div id="${id}unSuspend" data-dojo-attach-event="onClick:_onUnsuspend" data-dojo-type="dijit.form.Button">${i18n.Unsuspend}</div>
					<div id="${id}onSuspend" data-dojo-attach-event="onClick:_onSuspend" data-dojo-type="dijit.form.Button">${i18n.Suspend}</div>
					<span data-dojo-type="dijit.ToolbarSeparator"></span>
					<div id="${id}Activate" data-dojo-attach-event="onClick:_onActivate" data-dojo-type="dijit.form.Button">${i18n.Activate}</div>
					<div id="${id}Deactivate" data-dojo-attach-event="onClick:_onDeactivate" data-dojo-type="dijit.form.Button">${i18n.Deactivate}</div>
					<span data-dojo-type="dijit.ToolbarSeparator"></span>
					<img id="${id}IconFilter" src="/esp/files/img/noFilter.png" class="iconNoFilter"/>
                    <div id="${id}FilterDropDown" data-dojo-type="dijit.form.DropDownButton">
                        <span>${i18n.Filter}</span>
                        <div data-dojo-type="dijit.TooltipDialog" class="toolTip">
                        	<div id="${id}FilterForm" style="width:460px" data-dojo-type="dijit.form.Form">
                                <div data-dojo-props="cols:2" data-dojo-type="hpcc.TableContainer">
                        			<input id="${id}ClusterTargetSelect" title="${i18n.Cluster}:" name="QuerySetName" colspan="2" data-dojo-props="trim: true" data-dojo-type="TargetSelectWidget" />
                        			<input id="${id}Active" title="${i18n.Active}:" name="Active" colspan="2" data-dojo-props="trim: true" data-dojo-type="dijit.form.CheckBox" />
                        			<input id="${id}Suspended" title="${i18n.Suspended}:" name="Suspended" colspan="2" data-dojo-props="trim: true" data-dojo-type="dijit.form.CheckBox" />
                        		</div>
	                    		<button id="${id}FilterApply" data-dojo-attach-event="onClick:_onFilterApply" data-dojo-type="dijit.form.Button">${i18n.Apply}</button>
	                            <button id="${id}FilterClear" data-dojo-attach-event="onClick:_onFilterClear" data-dojo-type="dijit.form.Button">${i18n.Clear}</button>
                        	</div>
                   		</div>
                    </div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}NewPage" class="right" data-dojo-attach-event="onClick:_onNewPage" data-dojo-props="iconClass:'iconNewPage', showLabel:false" data-dojo-type="dijit.form.Button">${i18n.OpenInNewPage}</div>
				</div>
				<div id="${id}GridCP" style="padding: 0px; border:0px; border-color:none; overflow: hidden" data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
					<div id="${id}QuerySetGrid"></div>
				</div>
			</div>
		</div>
	</div><!--end of border container-->
</div>