<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%;" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
            <div id="${id}_Summary" style="width: 100%; height: 100%" data-dojo-props='title:"User: ", iconClass:"iconUsers"' data-dojo-type="dijit.layout.BorderContainer">
                <div id="${id}Toolbar" class="topPanel" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
                        <div id="${id}EditUsers" data-dojo-attach-event="onClick:_onEdit" data-dojo-type="dijit.form.Button">Edit</div>
                        <span data-dojo-type="dijit.ToolbarSeparator"></span>
                        <div id="${id}Password" data-dojo-attach-event="onClick:_onPassword" data-dojo-type="dijit.form.Button">Change Password</div>
                        <span data-dojo-type="dijit.ToolbarSeparator"></span>
                </div>
                <div data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                    <h2>
                        <img id="${id}ProtectedImage" src="img/locked.png"/>&nbsp<div id="${id}StateIdImage" class="iconWorkunit" ></div>&nbsp<span id="${id}User" class="bold">User Name</span>
                    </h2>
                    <form id="${id}SummaryForm">
                        <ul>
                            <li> 
                                <label class="Prompt" for="FirstName">First Name:</label>
                                <div id="${id}FirstName"></div>
                            </li>
                            <li> 
                                <label class="Prompt" for="LastName">Last Name:</label>
                                <div id="${id}LastName"></div>
                            </li>
                            <li>
                                <label class="Prompt" for="PasswordExpiration">Password Expiration:</label>
                                <div id="${id}PasswordExpiration"></div>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <div id="${id}_MemberOf" data-dojo-props='title:"Member Of", iconClass:"iconGroups"' data-dojo-type="MemberOfWidget"></div>
            <div id="${id}_UserPermissions" data-dojo-props='title:"User Permissions", iconClass:"iconFolder"' data-dojo-type="UserPermissionsWidget"></div>
        </div>
    </div>
    <div id="${id}EditDialog" data-dojo-type="dijit.Dialog" title="Edit User">
        <div id="${id}EditForm" style="width:400px" data-dojo-type="dijit.form.Form">
            <div data-dojo-props="cols:2" data-dojo-type="dojox.layout.TableContainer">
                <input id="${id}UsersUsername" title="Username:" name="username" readonly="readonly" colspan="2" data-dojo-props="trim: true" data-dojo-type="dijit.form.TextBox" />
                <input id="${id}UsersFirstName" title="First&nbsp;Name:" name="firstname" colspan="2" data-dojo-props="trim: true, placeHolder:'john'" data-dojo-type="dijit.form.TextBox" />
                <input id="${id}UsersLastName" title="Last&nbsp;Name:" name="lastname" colspan="2" data-dojo-props="trim: true, placeHolder:'smith'" data-dojo-type="dijit.form.TextBox" />
            </div>
            <button id="${id}_onEditSubmit" class="bottomFormButtons" data-dojo-attach-event="onClick:_onEditSubmit" data-dojo-type="dijit.form.Button">Apply</button>
            <button class="bottomFormButtons" data-dojo-attach-event="onClick:_onCancelDialog" data-dojo-type="dijit.form.Button">Cancel</button>
        </div>
    </div>
    <div id="${id}PasswordDialog" data-dojo-type="dijit.Dialog" title="Change Password">
        <div id="${id}PasswordForm" style="width:400px" data-dojo-type="dijit.form.Form">
            <div data-dojo-props="cols:2" data-dojo-type="dojox.layout.TableContainer">
                <input id="${id}PasswordUsername" title="Username:" name="username" readonly="readonly" colspan="2" data-dojo-props="trim: true" data-dojo-type="dijit.form.TextBox" />
                <input id="${id}NewPassword" title="New&nbsp;password:" name="newPassword" type="password" pwType="new" colspan="2" required="true" data-dojo-type="dijit.form.ValidationTextBox" />
                <input id="${id}VerifyPassword" title="Retype&nbsp;new&nbsp;password:" name="newPasswordRetype" type="password" pwType="verify" colspan="2" required="true" data-dojo-type="dijit.form.ValidationTextBox" />
            </div>
            <button id="${id}_onPasswordSubmit" class="bottomFormButtons" data-dojo-attach-event="onClick:_onPasswordSubmit" data-dojo-type="dijit.form.Button">Apply</button>
            <button class="bottomFormButtons" data-dojo-attach-event="onClick:_onCancelDialog" data-dojo-type="dijit.form.Button">Cancel</button>
        </div>
    </div>
</div>
