<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%;" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
            <div id="${id}Summary" style="width: 100%; height: 100%" data-dojo-props='title:"Summary", iconClass:"iconWorkunit"' data-dojo-type="dijit.layout.BorderContainer">
                <div id="${id}Toolbar" class="topPanel" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
                    <div id="${id}Save" data-dojo-attach-event="onClick:_onSave" data-dojo-type="dijit.form.Button">Save</div>
                    <div id="${id}Delete" data-dojo-attach-event="onClick:_onDelete" data-dojo-type="dijit.form.Button">Delete</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Abort" data-dojo-attach-event="onClick:_onAbort" data-dojo-type="dijit.form.Button">Abort</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Clone" data-dojo-attach-event="onClick:_onClone" data-dojo-type="dijit.form.Button">Clone</div>
                    <div id="${id}Resubmit" data-dojo-attach-event="onClick:_onResubmit" data-dojo-type="dijit.form.Button">Resubmit</div>
                    <div id="${id}Restart" data-dojo-attach-event="onClick:_onRestart" data-dojo-type="dijit.form.Button">Restart</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Publish" data-dojo-type="dijit.form.DropDownButton">
                        <span>Publish</span>
                        <div data-dojo-type="dijit.TooltipDialog">
                            <label class="Prompt" for="${id}JobName2">Job Name:</label>
                            <input id="${id}JobName2" data-dojo-props="trim: true" data-dojo-type="dijit.form.TextBox"/>
                            <button data-dojo-attach-event="onClick:_onPublish" data-dojo-type="dijit.form.Button">Submit</button>
                        </div>
                    </div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Reload" data-dojo-attach-event="onClick:_onReload" data-dojo-props="iconClass:'iconRefresh'" data-dojo-type="dijit.form.Button">Refresh</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                </div>
                <div data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                    <h2>
                        <img id="${id}ProtectedImage" src="img/locked.png"/>&nbsp<div id="${id}StateIdImage" class="iconWorkunit" ></div>&nbsp<span id="${id}Wuid" class="bold">WUID</span>
                    </h2>
                    <form>
                        <ul>
                            <li> 
                                <label class="Prompt" for="Action">Action:</label>
                                <div id="${id}Action"></div>
                            </li>
                            <li>
                                <label class="Prompt" for="State">State:</label>
                                <div id="${id}State"></div>                         
                            </li>
                            <li>
                                <label class="Prompt" for="Owner">Owner:</label>
                                <div id="${id}Owner"></div>
                            </li>
                            <li>
                                <label class="Prompt" for="Scope">Scope:</label>  
                                <div id="${id}Scope"></div>
                            </li>
                            <li>
                                <label class="Prompt" for="JobName">Job Name:</label>
                                <div><input id="${id}JobName" data-dojo-props="trim:true" data-dojo-type="dijit.form.TextBox"/></div>
                            </li>
                            <li>
                                <label class="Prompt" for="Description">Description:</label>
                                <div><input id="${id}Description" data-dojo-props="trim:true" data-dojo-type="dijit.form.TextBox"/></div>
                            </li>
                            <li>
                                <label class="Prompt" for="Protected">Protected:</label>
                                <div><input id="${id}Protected" data-dojo-type="dijit.form.CheckBox"/></div>
                            </li>
                            <li>
                                <label class="Prompt" for="Cluster">Cluster:</label>
                                <div id="${id}Cluster"></div>
                            </li>
                            <li>    
                                <label class="Prompt" for="Duration">Duration:</label>
                                <div id="${id}Time"></div>
                            </li>
                        </ul>
                    </form>
                </div>
                <div id="${id}InfoContainer" style="height: 33%" data-dojo-props="region: 'bottom', splitter: true, minSize: 120" data-dojo-type="InfoGridWidget">
                </div>
            </div>
            <div id="${id}Variables" title="Variables" data-dojo-type="dijit.layout.ContentPane">
                <div id="${id}VariablesGrid" data-dojo-type="dojox.grid.DataGrid">
                </div>
            </div>
            <div id="${id}Results" title="Outputs" data-dojo-type="ResultsWidget">
            </div>
            <div id="${id}Files" title="Inputs" data-dojo-type="ResultsWidget">
            </div>
            <div id="${id}Timers" title="Timings" data-dojo-type="TimingPageWidget">
            </div>
            <div id="${id}Graphs" title="Graphs" data-dojo-type="GraphsWidget">
            </div>
            <div id="${id}Source" title="ECL" data-dojo-type="ECLSourceWidget">
            </div>
            <div id="${id}Logs" title="Helpers" data-dojo-type="LogsWidget">
            </div>
            <div id="${id}Playground" title="Playground" data-dojo-type="ECLPlaygroundWidget">
            </div>
            <div id="${id}XML" title="XML" data-dojo-props="WUXml: true" data-dojo-type="ECLSourceWidget">
            </div>
            <div id="${id}Legacy" title="Legacy Web Page" data-dojo-type="dijit.layout.ContentPane">
            </div>
        </div>
    </div>
</div>
