<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%;" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
            <div id="${id}_Summary" style="width: 100%; height: 100%" data-dojo-props='title:"Summary", iconClass:"iconWorkunit"' data-dojo-type="dijit.layout.BorderContainer">
                <div id="${id}Toolbar" class="topPanel" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
                    <div id="${id}Refresh" data-dojo-attach-event="onClick:_onRefresh" data-dojo-props="iconClass:'iconRefresh'" data-dojo-type="dijit.form.Button">Refresh</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Save" data-dojo-attach-event="onClick:_onSave" data-dojo-type="dijit.form.Button">Save</div>
                    <div id="${id}Delete" data-dojo-attach-event="onClick:_onDelete" data-dojo-type="dijit.form.Button">Delete</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}SetToFailed" data-dojo-attach-event="onClick:_onSetToFailed" data-dojo-type="dijit.form.Button">Set To Failed</div>
                    <div id="${id}Abort" data-dojo-attach-event="onClick:_onAbort" data-dojo-type="dijit.form.Button">Abort</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Clone" data-dojo-attach-event="onClick:_onClone" data-dojo-type="dijit.form.Button">Clone</div>
                    <div id="${id}Resubmit" data-dojo-attach-event="onClick:_onResubmit" data-dojo-type="dijit.form.Button">Resubmit</div>
                    <div id="${id}Restart" data-dojo-attach-event="onClick:_onRestart" data-dojo-type="dijit.form.Button">Restart</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Publish" data-dojo-type="dijit.form.DropDownButton">
                        <span>Publish</span>
                        <div data-dojo-type="dijit.TooltipDialog">
                            <div id="${id}PublishForm" style="width:460px" onsubmit="return false;" data-dojo-type="dijit.form.Form">
                                <div class="dijitDialogPaneContentArea" data-dojo-props="cols:2" data-dojo-type="dojox.layout.TableContainer">
                                    <input id="${id}Jobname2" title="Job&nbsp;Name:" colspan="2" style="width:100%" required="true" data-dojo-props="trim: true" data-dojo-type="dijit.form.ValidationTextBox"/>
                                     <input id="${id}RemoteDali" title="Remote&nbsp;Dali:" colspan="2" style="width:100%" required="false" data-dojo-props="trim: true" data-dojo-type="dijit.form.ValidationTextBox"/>
                                </div>
                                <div class="dijitDialogPaneActionBar">
                                    <button type="submit" data-dojo-attach-event="onClick:_onPublish" data-dojo-type="dijit.form.Button">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}ZapReport" data-dojo-attach-event="onClick:onZapReport" data-dojo-props="iconClass:'iconZap'" title="Zipped Analysis Package" data-dojo-type="dijit.form.Button">Z.A.P</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}NewPage" class="right" data-dojo-attach-event="onClick:_onNewPage" data-dojo-props="iconClass:'iconNewPage', showLabel:false" data-dojo-type="dijit.form.Button">Open in New Page</div>
                </div>
                <div data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                    <h2>
                        <img id="${id}ProtectedImage" src="img/locked.png"/>&nbsp;<div id="${id}StateIdImage" class="iconWorkunit" ></div>&nbsp<span id="${id}Wuid" class="bold">WUID</span>
                    </h2>
                    <form id="${id}SummaryForm">
                        <ul>
                            <li> 
                                <label class="Prompt" for="Action">Action:</label>
                                <div id="${id}Action"></div>
                            </li>
                            <li>
                                <label class="Prompt" for="State">State:</label>
                                <div id="${id}State"></div>                         
                            </li>
                            <li>
                                <label class="Prompt" for="Owner">Owner:</label>
                                <div id="${id}Owner"></div>
                            </li>
                            <li>
                                <label class="Prompt" for="Scope">Scope:</label>  
                                <div id="${id}Scope"></div>
                            </li>
                            <li>
                                <label class="Prompt" for="Jobname">Job Name:</label>
                                <div><input id="${id}Jobname" data-dojo-props="trim:true" data-dojo-type="dijit.form.TextBox"/></div>
                            </li>
                            <li>
                                <label class="Prompt" for="Description">Description:</label>
                                <div><input id="${id}Description" data-dojo-props="trim:true" data-dojo-type="dijit.form.TextBox"/></div>
                            </li>
                            <li>
                                <label class="Prompt" for="Protected">Protected:</label>
                                <div><input id="${id}Protected" data-dojo-type="dijit.form.CheckBox"/></div>
                            </li>
                            <li>
                                <label class="Prompt" for="Cluster">Cluster:</label>
                                <div id="${id}Cluster"></div>
                            </li>
                            <li>    
                                <label class="Prompt" for="Duration">Duration:</label>
                                <div id="${id}Time"></div>
                            </li>
                        </ul>
                    </form>
                </div>
                <div id="${id}InfoContainer" style="height: 33%" data-dojo-props="region: 'bottom', splitter: true, minSize: 120" data-dojo-type="InfoGridWidget">
                </div>
            </div>
            <div id="${id}_Variables" title="Variables" data-dojo-type="dijit.layout.BorderContainer">
                <div style="border: 0px; padding: 0px; border-color: none" data-dojo-props="region: 'center'" data-dojo-type="dijit.layout.ContentPane">
                    <div id="${id}VariablesGrid">
                    </div>
                </div>
            </div>
            <div id="${id}_Results" title="Outputs" data-dojo-type="ResultsWidget">
            </div>
            <div id="${id}_Files" title="Inputs" data-dojo-type="SourceFilesWidget">
            </div>
            <div id="${id}_Timers" title="Timings" data-dojo-type="TimingPageWidget">
            </div>
            <div id="${id}_Graphs" title="Graphs" data-dojo-type="GraphsWidget">
            </div>
            <div id="${id}_Source" title="ECL" data-dojo-type="ECLSourceWidget">
            </div>
            <div id="${id}_Logs" title="Helpers" data-dojo-type="LogsWidget">
            </div>
            <div id="${id}_Playground" title="Playground" data-dojo-type="ECLPlaygroundWidget">
            </div>
            <div id="${id}_XML" title="XML" data-dojo-props="WUXml: true" data-dojo-type="ECLSourceWidget">
            </div>
        </div>
    </div>
    <div id="${id}ZapDialog" data-dojo-type="dijit.Dialog" title="Zipped Analysis Package">
        <form id="${id}ZapForm" action="/WsWorkunits/WUCreateZAPInfo" style="width:400px" method="post" encType="application/x-www-form-urlencoded">
            <div data-dojo-props="cols:2" data-dojo-type="dojox.layout.TableContainer">
                <input id="${id}ZapWUID" title="WUID:" name="Wuid" colspan="2" data-dojo-props="trim: true, readonly: true," data-dojo-type="dijit.form.TextBox" />
                <input id="${id}BuildVersion" title="ESP&nbsp;Build&nbsp;Version:" name="BuildVersion" colspan="2" data-dojo-props="trim: true, readonly: true," data-dojo-type="dijit.form.TextBox" />
                <input id="${id}ESPIPAddress" title="ESP&nbsp;Network&nbsp;Address:" name="ESPIPAddress" colspan="2" data-dojo-props="trim: true, readonly: true," data-dojo-type="dijit.form.TextBox" />
                <input id="${id}ThorIPAddress" title="Thor&nbsp;Network&nbsp;Address:" name="ThorIPAddress" colspan="2" data-dojo-props="trim: true, readonly: true," data-dojo-type="dijit.form.TextBox" />
                <input id="${id}ZapDescription" name="ProblemDescription" title="Description:" cols="22" colspan="2" data-dojo-type="dijit.form.SimpleTextarea"/>
                <input id="${id}WarnHistory" name="WhatChanged" title="History:" cols="22" colspan="2" data-dojo-type="dijit.form.SimpleTextarea"/>
                <input id="${id}WarnTimings" name="WhereSlow" title="Timings:" cols="22" colspan="2" data-dojo-type="dijit.form.SimpleTextarea"/>
            </div>
            <button id="${id}onZapSubmit" data-dojo-attach-event="onClick:_onCancelDialog" class="bottomFormButtons" type="submit" data-dojo-type="dijit.form.Button">Apply</button>
            <button class="bottomFormButtons" data-dojo-attach-event="onClick:_onCancelDialog" data-dojo-type="dijit.form.Button">Cancel</button>
        </form>
    </div>
</div>