<div class="${baseClass}">
    <div id="${id}BorderContainer" class="${baseClass}BorderContainer" style="width: 100%; height: 100%;" data-dojo-type="dijit.layout.BorderContainer">
        <div id="${id}TabContainer" data-dojo-props="region: 'center', tabPosition: 'top'" style="width: 100%; height: 100%" data-dojo-type="dijit.layout.TabContainer">
            <div id="${id}Workunits" style="width: 100%; height: 100%" data-dojo-props='title:"Workunits"' data-dojo-type="dijit.layout.BorderContainer">
                <div id="${id}Toolbar" class="topPanel" data-dojo-props="region: 'top'" data-dojo-type="dijit.Toolbar">
                    <div id="${id}Open" data-dojo-attach-event="onClick:_onOpen" data-dojo-type="dijit.form.Button">Open</div>
                    <div id="${id}Delete" data-dojo-attach-event="onClick:_onDelete" data-dojo-type="dijit.form.Button">Delete</div>
                    <div id="${id}SetToFailed" data-dojo-attach-event="onClick:_onSetToFailed" data-dojo-type="dijit.form.Button">Set To Failed</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Protect" data-dojo-attach-event="onClick:_onProtect" data-dojo-type="dijit.form.Button">Protect</div>
                    <div id="${id}Unprotect" data-dojo-attach-event="onClick:_onUnprotect" data-dojo-type="dijit.form.Button">Unprotect</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <div id="${id}Reschedule" data-dojo-attach-event="onClick:_onReschedule" data-dojo-type="dijit.form.Button">Reschedule</div>
                    <div id="${id}Deschedule" data-dojo-attach-event="onClick:_onDeschedule" data-dojo-type="dijit.form.Button">Deschedule</div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                    <img id="${id}IconFilter" src="img/filterAdd.png"/>
                    <div data-dojo-type="dijit.form.DropDownButton">
                        <span>Filter</span>
                        <div data-dojo-type="dijit.TooltipDialog" class="toolTip">
                            <form id="${id}filterForm" class="smallForm">
                                <ul>
                                    <li> 
                                        <label for="${id}Owner">Owner:</label>
                                        <input id="${id}Owner" data-dojo-props="trim: true, placeHolder:'jsmi*'" data-dojo-type="dijit.form.TextBox"/>
                                    </li>
                                    <li> 
                                        <label for="${id}Jobname">Job Name:</label>
                                        <input id="${id}Jobname" data-dojo-props="trim: true, placeHolder:'log_analysis_1'" data-dojo-type="dijit.form.TextBox"/>
                                    </li>
                                    <li> 
                                        <label for="${id}Cluster">Cluster:</label>
                                        <input id="${id}Cluster" data-dojo-props="trim: true, placeHolder:'r?x*'" data-dojo-type="dijit.form.TextBox"/>
                                    </li>
                                    <li> 
                                        <label for="${id}State">State:</label>
                                        <input id="${id}State" data-dojo-props="trim: true, placeHolder:'failed'" data-dojo-type="dijit.form.TextBox"/>
                                    </li>
                                    <li> 
                                        <label for="${id}ECL">ECL Text:</label>
                                        <input id="${id}ECL" data-dojo-props="trim: true, placeHolder:':=dataset'" data-dojo-type="dijit.form.TextBox"/>
                                    </li>
                                    <li>
                                        <label for="${id}LogicalFile">Logical File:</label>
                                        <input id="${id}LogicalFile" data-dojo-props="trim: true, placeHolder:'*::somefile'" data-dojo-type="dijit.form.TextBox"/>
                                    </li>
                                    <li>
                                        <label>Label</label>
                                        <select id="${id}LogicalFileSearchType" name="${id}LogicalFileSearchType" data-dojo-type="dijit.form.Select">
                                            <option value="Created">Created</option>
                                            <option value="Used" selected="selected">Used</option>
                                        </select>
                                    </li>
                                    <li> 
                                        <label for="${id}FromDate">From:</label>
                                        <img src="img/cal.gif" alt="calendar"/>
                                        <input id="${id}FromDate" data-dojo-props="trim: true, placeHolder:'7/28/2012'" data-dojo-type="dijit.form.DateTextBox"/>                                       
                                        <input id="${id}FromTime" class="smallCombo" data-dojo-props="trim: true, placeHolder:'7:30 AM'" data-dojo-type="dijit.form.TimeTextBox"/>
                                    </li>
                                    <li> 
                                        <label for="${id}ToDate">To:</label>
                                        <img src="img/cal.gif" alt="calendar"/>
                                        <input id="${id}ToDate" data-dojo-props="trim: true, placeHolder:'7/28/2012'" data-dojo-type="dijit.form.DateTextBox"/>
                                        <input id="${id}ToTime"  data-dojo-props="trim: true, placeHolder:'7:30 PM'" data-dojo-type="dijit.form.TimeTextBox"/>
                                    </li>
                                    <li> 
                                        <label for="${id}LastNDays">Last N Days:</label>
                                        <input id="${id}LastNDays" data-dojo-props="trim: true, placeHolder:'2'" data-dojo-type="dijit.form.TextBox"/>
                                    </li>
                                </ul>
                                <button data-dojo-attach-event="onClick:_onFilterApply" data-dojo-type="dijit.form.Button">Apply</button>
                                <button data-dojo-attach-event="onClick:_onFilterClear" data-dojo-type="dijit.form.Button">Clear</button>
                            </form>
                        </div>
                    </div>
                    <span data-dojo-type="dijit.ToolbarSeparator"></span>
                </div>
                <div id="${id}WorkunitsGrid" data-dojo-props="region: 'center', plugins: { pagination: { pageSizes: [25, 50, 100, 'All'], defaultPageSize: 50, description: true, sizeSwitch: true, pageStepper: true, gotoButton: true, maxPageStep: 4, position: 'bottom' }
                    , indirectSelection: {
                        headerSelector: true,
                        width: '20px',
                        styles: 'text-align: center;'
                    }
                }" data-dojo-type="dojox.grid.EnhancedGrid">
                </div>
            </div>
            <div id="${id}Legacy" title="Legacy Web Page" data-dojo-type="dijit.layout.ContentPane">
            </div>
        </div>
    </div>
</div>
