esp:
- name: echo-example
  instance: echo-example
  application: esdl
  auth: none
  replicas: 1
  service:
    visibility: local
    servicePort: 7770
  bindings: "/var/lib/HPCCSystems/esdl/echo-example"
  loadDaliBindings: false
# for local file persistent storage
storage:
  planes:
  - name: dali
    pvc: dali-localfile-hpcc-localfile-pvc
    prefix: "/var/lib/HPCCSystems/dalistorage"
    category: dali
  - name: dll
    pvc: dll-localfile-hpcc-localfile-pvc
    prefix: "/var/lib/HPCCSystems/queries"
    category: dll
  - name: sasha
    pvc: sasha-localfile-hpcc-localfile-pvc
    prefix: "/var/lib/HPCCSystems/sasha"
    category: sasha
  - name: debug
    pvc: debug-localfile-hpcc-localfile-pvc
    prefix: "/var/lib/HPCCSystems/debug"
    category: debug
  - name: data
    pvc: data-localfile-hpcc-localfile-pvc
    prefix: "/var/lib/HPCCSystems/hpcc-data"
    category: data
  - name: mydropzone
    pvc: mydropzone-localfile-hpcc-localfile-pvc
    prefix: "/var/lib/HPCCSystems/dropzone"
    category: lz
  - name: esdl
    pvc: esdl-localfile-hpcc-localfile-pvc
    prefix: "/var/lib/HPCCSystems/esdl"
    category: data
sasha:
  wu-archiver:
    plane: sasha
  dfuwu-archiver:
    plane: sasha