# HPCC Systems® Systemd Script
# Load to systemd:  sudo systemctl daemon-reload
# Start/stop HPCC: run tty to get terminal file name, for example /dev/pts/1
#           sudo service dafilesrv@<terminal file name without /dev> <start|stop|restart> or
#           sudo systemctl <start|stop|restart> dafilesrv@<terminal file name without /dev>.service
#           For example sudo service dafilesrv@pts/1 start
# Query status: journal -u dafilesrv -t dafilesrv -f  (To return: CRL-C)
# Alternatively user can directly invoke /etc/init.d/dafilesrv <start|stop|status>

[Unit]
Description=HPCC Systems® dafilesrv service

[Service]
Type=oneshot
ExecStart=/etc/init.d/dafilesrv start
ExecStop=/etc/init.d/dafilesrv stop
RemainAfterExit=yes
StandardOutput=tty
StandardError=tty
TTYPath=/dev/%I
