# HPCC Systems® Systemd Script
# Load to systemd:  sudo systemctl daemon-reload
# Start/stop HPCC: sudo service dafilesrv <start|stop|restart>
#                  or sudo systemctl <start|stop|restart> dafilesrv
# Query status: journal -u dafilesrv -t dafilesrv -f  (CRL-C to return)
# Alternatively user can directly invoke /etc/init.d/dafilesrv <start|stop|status>

[Unit]
Description=HPCC Systems® dafilesrv service

[Service]
Type=oneshot
ExecStart=/etc/init.d/dafilesrv start
ExecStop=/etc/init.d/dafilesrv stop
RemainAfterExit=yes
#StandardOutput=tty
#StandardError=tty
#TTYPath=/dev/pts/0
