/*
 *  https://fabricweb.z5.web.core.windows.net/pr-deploy-site/refs/heads/7.0/theming-designer/index.html
 *
 *  Keep in sync with themes.ts
 */

:root {
    --themePrimary: "#259ad6";
    --themeLighterAlt: "#f5fbfd";
    --themeLighter: "#d7edf8";
    --themeLight: "#b6dff3";
    --themeTertiary: "#74c0e7";
    --themeSecondary: "#3ba6db";
    --themeDarkAlt: "#218bc1";
    --themeDark: "#1c76a3";
    --themeDarker: "#145778";
    --neutralLighterAlt: "#faf9f8";
    --neutralLighter: "#f3f2f1";
    --neutralLight: "#edebe9";
    --neutralQuaternaryAlt: "#ababab";
    --neutralQuaternary: "#999999";
    --neutralTertiaryAlt: "#7f7f7f";
    --neutralTertiary: "#6f6f6f";
    --neutralSecondary: "#5f5f5f";
    --neutralPrimaryAlt: "#4c4c4c";
    --neutralPrimary: "#3a3a3a";
    --neutralDark: "#222222";
    --black: "#000000";
    --white: "#ffffff";

    --dark-themePrimary: "#ff8600";
    --dark-themeLighterAlt: "#0a0500";
    --dark-themeLighter: "#291600";
    --dark-themeLight: "#4d2900";
    --dark-themeTertiary: "#995200";
    --dark-themeSecondary: "#e07800";
    --dark-themeDarkAlt: "#ff9419";
    --dark-themeDark: "#ffa53d";
    --dark-themeDarker: "#ffbc70";
    --dark-neutralLighterAlt: "#323232";
    --dark-neutralLighter: "#313131";
    --dark-neutralLight: "#2f2f2f";
    --dark-neutralQuaternaryAlt: "#b0b0b0";
    --dark-neutralQuaternary: "#bababa";
    --dark-neutralTertiaryAlt: "#c3c3c3";
    --dark-neutralTertiary: "#c9c9c9";
    --dark-neutralSecondary: "#d3d3d3";
    --dark-neutralPrimaryAlt: "#dfdfdf";
    --dark-neutralPrimary: "#e1e1e1";
    --dark-neutralDark: "#f0f0f0";
    --dark-black: "#ffffff";
    --dark-white: "#000000";
}