/*
 *  https://fabricweb.z5.web.core.windows.net/pr-deploy-site/refs/heads/7.0/theming-designer/index.html
 *
 *  Keep in sync with themes.ts
 */

:root {
    --themePrimary: "#259ad6";
    --themeLighterAlt: "#f5fbfd";
    --themeLighter: "#d7edf8";
    --themeLight: "#b6dff3";
    --themeTertiary: "#74c0e7";
    --themeSecondary: "#3ba6db";
    --themeDarkAlt: "#218bc1";
    --themeDark: "#1c76a3";
    --themeDarker: "#145778";
    --neutralLighterAlt: "#faf9f8";
    --neutralLighter: "#f3f2f1";
    --neutralLight: "#edebe9";
    --neutralQuaternaryAlt: "#e1dfdd";
    --neutralQuaternary: "#d0d0d0";
    --neutralTertiaryAlt: "#c8c6c4";
    --neutralTertiary: "#d1d1d1";
    --neutralSecondary: "#a3a3a3";
    --neutralPrimaryAlt: "#787878";
    --neutralPrimary: "#666666";
    --neutralDark: "#4e4e4e";
    --black: "#393939";
    --white: "#ffffff";

    --dark-themePrimary: "#ff8600";
    --dark-themeLighterAlt: "#0a0500";
    --dark-themeLighter: "#291600";
    --dark-themeLight: "#4d2900";
    --dark-themeTertiary: "#995200";
    --dark-themeSecondary: "#e07800";
    --dark-themeDarkAlt: "#ff9419";
    --dark-themeDark: "#ffa53d";
    --dark-themeDarker: "#ffbc70";
    --dark-neutralLighterAlt: "#323232";
    --dark-neutralLighter: "#313131";
    --dark-neutralLight: "#2f2f2f";
    --dark-neutralQuaternaryAlt: "#2c2c2c";
    --dark-neutralQuaternary: "#2a2a2a";
    --dark-neutralTertiaryAlt: "#282828";
    --dark-neutralTertiary: "#c8c8c8";
    --dark-neutralSecondary: "#d0d0d0";
    --dark-neutralPrimaryAlt: "#dadada";
    --dark-neutralPrimary: "#ffffff";
    --dark-neutralDark: "#f4f4f4";
    --dark-black: "#f8f8f8";
    --dark-white: "#333333";
}
