name: Build and publish
# This workflow is triggered on new tags of Community Edition 7.8.x or later,
# or any of the weekly tag names starting 'master'
on:
  push:
    tags:
    - 'master*'
    - 'community_*'
    - '!community_7.6.*'
    - '!community_7.4.*'
    - '!community_7.2.*'
    - '!community_7.0.*'
    - '!community_6.*'

jobs:
  build:
    name: "Build and publish release container"
    runs-on: ubuntu-20.04
    if: github.repository == 'hpcc-systems/HPCC-Platform'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        uses: ./dockerfiles
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          latest: 1   # this should only be set on the current minor branch
          github_actor: ${{ secrets.LNB_ACTOR }}
          github_token: ${{ secrets.LNB_TOKEN }}
          sign_modules: 1
          signing_secret: ${{ secrets.SIGNING_SECRET }}
          signing_keyid: ${{ secrets.SIGNING_KEYID }}
          signing_passphrase: ${{ secrets.SIGNING_PASSPHRASE }}

  ml-builds:
    needs: build
    runs-on: ubuntu-20.04
    if: github.repository == 'hpcc-systems/HPCC-Platform'
    strategy:
      matrix:
        engine: ['ml', 'gnn', 'gnn-gpu']
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Build
      uses: ./dockerfiles
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        latest: 1   # this should only be set on the current minor branch
        build_ml: ${{ matrix.engine }}
        github_actor: ${{ secrets.LNB_ACTOR }}
        github_token: ${{ secrets.LNB_TOKEN }}

