name: Test Build

on:
  workflow_dispatch:
    inputs:
      os:
        type: choice
        options:
          - 'ubuntu-24.04'
          - 'ubuntu-22.04'
          - 'ubuntu-20.04'
          - 'rockylinux-8'
          - 'centos-8'
          - 'centos-7'
          - 'amazonlinux'
        description: 'Operating System'
        required: false
        default: 'ubuntu-22.04'
      docs:
        type: boolean
        description: 'Build Documentation (skips platform build)'
        required: false
        default: false
      ln:
        type: boolean
        description: 'Internal Build'
        required: false
        default: false
      smoketest:
        type: boolean
        description: 'Run Smoketest'
        required: false
        default: false

  # Do not include "push" in final version (uncomment for testing on users own repo)
  # push:

  pull_request:
    branches:
      - "master"
      - "candidate-*"
      - "!candidate-7.10.*"
      - "!candidate-7.8.*"
      - "!candidate-7.6.*"
      - "!candidate-7.4.*"
      - "!candidate-7.2.*"
      - "!candidate-7.0.*"
      - "!candidate-6.*"

  schedule:
    - cron: "0 0 * * *"

jobs:

  build-workflow-dispatch:
    if: ${{ contains('workflow_dispatch', github.event_name) && inputs.docs != true }}
    uses: ./.github/workflows/build-docker.yml
    with:
      os: ${{ inputs.os }}
      ln: ${{ inputs.ln }}
      upload-package: true
      asset-name: 'docker-package'
    secrets: inherit

  build-workflow-dispatch-docs:
    if: ${{ contains('workflow_dispatch', github.event_name) && inputs.docs == true }}
    uses: ./.github/workflows/build-gh_runner.yml
    with:
      os: ${{ inputs.os }}
      ln: false
      upload-package: false
      asset-name: ''
      cmake-configuration-ex: '-DMAKE_DOCS_ONLY=ON'
    secrets: inherit

  test-workflow-dispatch:
    if: ${{ contains('workflow_dispatch', github.event_name) && inputs.smoketest == true }}
    needs: build-workflow-dispatch
    uses: ./.github/workflows/test-smoke-gh_runner.yml
    with:
      os: ${{ inputs.os }}
      asset-name: 'docker-package'
    secrets: inherit

  build-docker-ubuntu-24_04:
    if: ${{ contains('pull_request,push', github.event_name) }}
    uses: ./.github/workflows/build-docker.yml
    with:
      os: ubuntu-24.04
    secrets: inherit

  build-docker-ubuntu-22_04:
    if: ${{ contains('pull_request,push', github.event_name) }}
    uses: ./.github/workflows/build-docker.yml
    with:
      os: ubuntu-22.04
      upload-package: true
      asset-name: 'docker-ubuntu-22_04'
    secrets: inherit

  test-smoke-docker-ubuntu-22_04:
    if: ${{ contains('pull_request,push', github.event_name) }}
    needs: build-docker-ubuntu-22_04
    uses: ./.github/workflows/test-smoke-gh_runner.yml
    with:
      os: ubuntu-22.04
      asset-name: 'docker-ubuntu-22_04'
    secrets: inherit

  test-regression-suite-k8s-ubuntu-22_04:
    if: ${{ contains('pull_request,push', github.event_name) }}
    uses: ./.github/workflows/test-regression-suite-k8s.yml
    secrets: inherit
    with:
      os: ubuntu-22.04
      asset-name: 'docker-ubuntu-22_04-containerized'

  test-unit-docker-ubuntu-22_04:
    if: ${{ contains('pull_request,push', github.event_name) }}
    needs: build-docker-ubuntu-22_04
    uses: ./.github/workflows/test-unit-gh_runner.yml
    with:
      os: ubuntu-22.04
      asset-name: 'docker-ubuntu-22_04'
    secrets: inherit

  test-ui-docker-ubuntu-22_04:
    if: ${{ contains('pull_request,push', github.event_name) }}
    needs: build-docker-ubuntu-22_04
    uses: ./.github/workflows/test-ui-gh_runner.yml
    with:
      os: ubuntu-22.04
      asset-name: 'docker-ubuntu-22_04'
    secrets: inherit

  build-docker-ubuntu-20_04:
    if: ${{ contains('schedule,push', github.event_name) }}
    uses: ./.github/workflows/build-docker.yml
    with:
      os: ubuntu-20.04
    secrets: inherit

  build-docker-rockylinux-8:
    if: ${{ contains('schedule,push', github.event_name) }}
    uses: ./.github/workflows/build-docker.yml
    with:
      os: rockylinux-8
    secrets: inherit

  build-docker-centos-8:
    if: ${{ contains('schedule,push', github.event_name) }}
    uses: ./.github/workflows/build-docker.yml
    with:
      os: centos-8
    secrets: inherit

  build-docker-centos-7:
    if: ${{ contains('pull_request,push', github.event_name) }}
    uses: ./.github/workflows/build-docker.yml
    with:
      os: centos-7
      cmake-configuration-ex: "-DVCPKG_TARGET_TRIPLET=x64-centos-7-dynamic"
    secrets: inherit

  build-docker-amazonlinux:
    if: ${{ contains('schedule,push', github.event_name) }}
    uses: ./.github/workflows/build-docker.yml
    with:
      os: amazonlinux
      cmake-configuration-ex: "-DVCPKG_TARGET_TRIPLET=x64-amazonlinux-dynamic"
    secrets: inherit

  build-gh_runner-ubuntu-22_04:
    if: ${{ contains('schedule,push', github.event_name) }}
    uses: ./.github/workflows/build-gh_runner.yml
    with:
      os: ubuntu-22.04
    secrets: inherit

  build-gh_runner-ubuntu-22_04-docs:
    if: ${{ contains('schedule,push', github.event_name) }}
    uses: ./.github/workflows/build-gh_runner.yml
    with:
      os: ubuntu-22.04
      cmake-configuration-ex: '-DMAKE_DOCS_ONLY=ON'
    secrets: inherit

  build-gh_runner-ubuntu-20_04:
    if: ${{ contains('schedule,push', github.event_name) }}
    uses: ./.github/workflows/build-gh_runner.yml
    with:
      os: ubuntu-20.04
    secrets: inherit

  build-gh_runner-windows-2022:
    if: ${{ contains('pull_request,push', github.event_name) }}
    uses: ./.github/workflows/build-gh_runner.yml
    with:
      os: windows-2022
      cmake-configuration-ex: '-T host=x64 -A x64 -DUSE_CPPUNIT=OFF -DCLIENTTOOLS_ONLY=ON -DUSE_AZURE=OFF -DINCLUDE_PLUGINS=OFF -DUSE_CASSANDRA=OFF -DUSE_JAVA=OFF -DUSE_OPENLDAP=OFF'
    secrets: inherit

  build-gh_runner-windows-2019:
    if: ${{ contains('schedule,push', github.event_name) }}
    uses: ./.github/workflows/build-gh_runner.yml
    with:
      os: windows-2019
      cmake-configuration-ex: '-T host=x64 -A x64 -DUSE_CPPUNIT=OFF -DCLIENTTOOLS_ONLY=ON -DINCLUDE_PLUGINS=OFF -DUSE_AZURE=OFF -DUSE_CASSANDRA=OFF -DUSE_JAVA=OFF -DUSE_OPENLDAP=OFF'
    secrets: inherit

  build-gh_runner-macos-13:
    if: ${{ contains('pull_request,push', github.event_name) }}
    uses: ./.github/workflows/build-gh_runner.yml
    with:
      os: macos-13
      build-type: 'Release'
      cmake-configuration-ex: '-DUSE_CPPUNIT=OFF -DCLIENTTOOLS_ONLY=ON -DINCLUDE_PLUGINS=OFF -DUSE_AZURE=OFF -DUSE_CASSANDRA=OFF -DSUPPRESS_CASSANDRAEMBED=ON -DUSE_JAVA=OFF -DUSE_OPENLDAP=OFF'
    secrets: inherit

  build-gh_runner-macos-12:
    if: ${{ contains('schedule,push', github.event_name) }}
    uses: ./.github/workflows/build-gh_runner.yml
    with:
      os: macos-12
      build-type: 'Release'
      cmake-configuration-ex: '-DUSE_CPPUNIT=OFF -DCLIENTTOOLS_ONLY=ON -DINCLUDE_PLUGINS=OFF -DUSE_AZURE=OFF -DUSE_CASSANDRA=OFF -DSUPPRESS_CASSANDRAEMBED=ON -DUSE_JAVA=OFF -DUSE_OPENLDAP=OFF'
    secrets: inherit

