name: Build and publish debug
# This workflow is triggered on new tags of Community Edition 7.8.x or later,
# or any of the weekly tag names starting 'master'
on:
  push:
    tags:
    - 'master*'
    - 'community_*'
    - '!community_7.6.*'
    - '!community_7.4.*'
    - '!community_7.2.*'
    - '!community_7.0.*'
    - '!community_6.*'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    if: github.repository == 'hpcc-systems/HPCC-Platform'
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        uses: ./dockerfiles
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          buildtype: Debug
          
