name: Build Test ECL Watch

on:
  push:
    branches:
      - "master"
      - "candidate-*"
      - "!candidate-7.6.*"
      - "!candidate-7.4.*"
      - "!candidate-7.2.*"
      - "!candidate-7.0.*"
      - "!candidate-6.*"
  pull_request:
    branches:
      - "master"
      - "candidate-*"
      - "!candidate-7.6.*"
      - "!candidate-7.4.*"
      - "!candidate-7.2.*"
      - "!candidate-7.0.*"
      - "!candidate-6.*"

jobs:
  pre_job:
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: hpcc-systems/skip-duplicate-actions@master
        with:
          github_token: ${{ github.token }}
          paths: '["esp/src/**/*" ]'

  build:
    name: "Check eclwatch and npm"
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_skip != 'true' && github.repository == 'hpcc-systems/HPCC-Platform' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - uses: actions/setup-node@v1
        with:
          node-version: "14.x"
      - name: Install Dependencies
        working-directory: ./esp/src
        run: npm ci
      - name: Build
        working-directory: ./esp/src
        run: npm run build
      - name: Test
        working-directory: ./esp/src
        run: npm run test
