name: Build and publish debug
# This workflow is triggered on new tags of Community Edition 7.8.x or later,
# or any of the weekly tag names starting 'master'
on:
  push:
    tags:
    - 'master*'
    - 'community-*'
    - '!community-7.6.*'
    - '!community-7.4.*'
    - '!community-7.2.*'
    - '!community-7.0.*'
    - '!community-6.*'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        uses: ./dockerfiles
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          buildtype: Debug
          
