name: Nightly master build and publish
on:
  schedule:
    - cron:  '0 0 * * *'

jobs:
  build:
    name: "Nightly build and publish release container"
    runs-on: ubuntu-20.04
    if: github.repository == 'hpcc-systems/HPCC-Platform'
    steps:
      - name: vars
        id: vars
        run: |
          echo "::set-output name=date::$(date +'%Y-%m-%d')"
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        uses: ./dockerfiles
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          build_ver: "master"
          build_label: "master-${{ steps.vars.outputs.date }}"


